/* put here your custom css styles */

.bread_crumb {
    display: none;
}

.page_header_right {
    display: none;
}

.prices h2 {
    margin: 0 0 20px 0;
}

// .slider_content_box {
//     margin-top: -470px;
// }

.home_box_container {
    margin-top: 0;
}

.theme_page {
    padding-bottom: 0;
}
.theme_page .page_layout {
    margin-top: 0;
}
