/*
Theme Name: GymBase
Theme URI: http://themeforest.net/item/gymbase-responsive-gym-fitness-wordpress-theme/2732248?ref=quanticalabs
Description: GymBase is a gym fitness WordPress theme designed in a minimalist style. It has a responsive layout that looks great on mobile and tablet devices. The main point of focus is represented by home page slider which scales down automatically depending on your screen resolution. Theme contains blog page with comments, filterable portfolio with details page, responsive timetable page, classes based on accordion page and contact page with map of location and working contact form.
Author: QuanticaLabs
Author URI: http://themeforest.net/user/QuanticaLabs?ref=QuanticaLabs
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: gymbase
Version: 11.3
*/

/* --- general --- */
*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}
.clearfix:after
{
    font-size: 0px;
    content: ".";
    display: block;
    height: 0px;
    visibility: hidden;
    clear: both;
}
body
{
	background: #151515;
	padding: 0px;
	margin: 0px;
	font-family: 'Arial';
	font-size: 13px;
	color: #fff;
}
a
{
	text-decoration: none;
	color: #59B42D;
}
a:hover
{
	text-decoration: underline;
}
p
{
	padding: 1em 0;
	color: #C5C5C5;
	line-height: 150%;
}
.relative
{
	position: relative;
}
input, textarea
{
	font-family: arial;
	font-size: 13px;
}
input[type='text'].hint, textarea.hint
{
	color: #C5C5C5 !important;
}
/* --- font face --- */
/*@font-face 
{
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: normal;
  src: url('../font/DroidSans.eot');
  src: local('Droid Sans'), local('DroidSans'), url('../font/DroidSans.ttf') format('truetype');
}
@font-face 
{
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: normal;
  src: url('../font/DroidSerif-Regular-webfont.eot');
  src: local('Droid Serif'), local('DroidSerif'), url('../font/DroidSerif-Regular-webfont.ttf') format('truetype');
}*/
/* --- text colors --- */
.post_content .text,
#comments_list .comment_details p,
.accordion .ui-accordion-content,
.timetable,
.gallery_item_details_list .details_box p,
.gallery_item_details_list .details_box .list,
.footer_contact_info_row,
.copyright_area,
.copyright_right .scroll_top,
.scrolling_list li,
.scrolling_list li a
{
	color: #C5C5C5;
}
.ui-tabs-nav li a,
.tabs_navigation li a,
.scrolling_list li .number,
.categories li, .widget_categories li,
.categories li a, .widget_categories li a,
.pagination li a, .pagination li span,
.bread_crumb li,
.accordion .ui-accordion-header h5,
#comments_list .comment_details .posted_by,
.header_top_sidebar 
{
	color: #999;
}
.search input,
.comment_form input, .comment_form textarea,
.contact_form input, .contact_form textarea
{
	color: #FFF;
}
.sentence,
.info_green,
.gallery_item_details_list .details_box .subheader
{
	color: #59B42D;
}
/* --- headers --- */
h1, h2, h3, h4, h5
{
	font-family: 'Droid Sans';
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #FFF;
}
h1 a, h2 a, h3 a, h4 a, h5 a
{
	color: #FFF;
}
h1
{
	font-size: 48px;
}
h2
{
	font-size: 24px;
}
h3
{
	font-size: 18px;
}
h4
{
	font-size: 16px;
}
h5
{
	font-size: 13px;
}
.box_header
{
	float: left;
	padding-bottom: 10px;
	border-bottom: 1px solid #409915;
}
.box_header.margin
{
	margin-top: 27px;
}
.sentence
{
	font-family: 'Droid Serif';
	font-style: italic;
	margin-top: 25px;
}
.info_green, .info_white
{
	float: left;
	clear: both;
	font-family: 'Droid Serif';
	font-style: italic;
}
.info_green,
.info_green.page_margin_top_none 
{
	margin-top: 5px;
}
.info_white
{
	color: #FFF;
}
.alignleft
{
	float: left;
	margin-right: 20px;
}
.alignright
{
	float: right;
	margin-left: 20px;
}
/* --- header --- */
.header_container
{
	background-color: #fff;
}
.header
{
	position: relative;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
.header_left
{
	float: left;
	width: 380px;
}
.header_right
{
	float: right;
}
.header_left a
{
	display: block;
	margin-top: 13px;
}
.header_left a, .logo_left, .logo_right
{
	font-family: 'Droid Sans';
	font-size: 24px;
}
.header_left a:hover
{
	text-decoration: none;
}
.header_left a img
{
	float: left;
	margin-right: 10px;
}
.logo_left
{
	color: #59b42d;
}
.logo_right
{
	float: right;
	color: #000;
}
.logo_left, .logo_right
{
	float: left;
	padding-top: 7px;
}
/* --- menu --- */
.sf-menu
{
	padding: 14px 0 0;
	margin: 0;
}
.sf-menu li
{
	height: 51px;
	margin-left: 25px;
}
.sf-menu li:first-child
{
	margin-left: 0;
}
.sf-menu li, .sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active
{
	background: transparent;
}
.sf-menu li a, .sf-menu li a:visited
{
	font-family: 'arial';
	color: #888;
	border: none;
	padding: 0;
	padding: 12px 0 5px;
}
.sf-menu li:hover a, .sf-menu li.selected a, .sf-menu li.current-menu-item a
{
	color: #000;
	border-bottom: 2px solid #59B42D;
}
.sf-menu li ul
{
	width: 190px;
	background: url('images/header_submenu_arrow.png') 20px 30px no-repeat;
	padding-top: 38px;
}
.sf-menu li ul li
{
	margin-left: 0;
	background-color: #fff;
	padding: 0;
	border-top: 1px solid #FFF;
	height: auto;
}
.sf-menu li:hover ul a
{
	border-bottom: none;
	color: #888;
}
.sf-menu li ul li:hover, .sf-menu li ul li.selected
{
	background-color: #fff;
	border-top: 1px solid #E0E0E0;
}
.sf-menu li ul li a
{
	padding: 14px 20px 15px;
	font-size: 12px;
	border-bottom: none;
	background: #FFF;
}
.sf-menu li ul li a:hover, .sf-menu li ul li.selected a
{
	color: #000;
	background-color: #F0F0F0;
}
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul
{
	top: -1px;
	left: 190px;
	padding-top: 0;
}
ul.sf-menu li li:hover ul.sub-menu li:hover ul.sub-menu, ul.sf-menu li li.sfHover ul.sum-menu li.sfHover ul.sum-menu
{
	top: -1px;
	left: 190px;
	padding-top: 0;
}
.sf-menu li.shop_menu ul.sub-menu
{
	margin-left: -153px;
	background-position: 155px 30px;
}
.mobile_menu_container
{
	display: none;
}
.mobile_menu
{
	display: none;
	/*padding: 12px 0;*/
}
.mobile-menu-switch,
.mobile_menu,
.mobile-menu-divider
{
	display: none;
	margin-left: auto;
	margin-right: auto;
}
.mobile_menu,
.mobile_menu>ul
{
	overflow: hidden !important;
}
.mobile_menu>ul
{
	padding: 0;
	margin: 0;
}
.mobile_menu>ul li
{
	display: block;
	float: none;
}
.mobile_menu>ul li a
{
	display: block;
	color: #000;
	background: #F0F0F0;
	font-size: 14px;
	font-family: arial;
	padding: 12px 20px;
	margin-bottom: 1px;
	line-height: 1;
	border-bottom: 0;
}
.mobile_menu>ul li a:hover
{
	text-decoration: underline;
}
.mobile_menu>ul li.current-menu-item>a,
.mobile_menu>ul li.current-menu-ancestor ul li.current-menu-item a,
.mobile_menu>ul li.current-menu-ancestor ul li.current-menu-parent ul li.current-menu-item a,
.mobile_menu>ul li.current-menu-ancestor a,
.mobile_menu>ul li.current-menu-ancestor ul li.current-menu-parent a,
.mobile_menu>ul li.current-menu-ancestor ul li.current-menu-parent ul li.current-menu-parent a
{
	background: #409915;
	color: #FFF;
}
.mobile_menu>ul li ul.sub-menu
{
	padding: 0;
}
.mobile_menu>ul li ul a
{
	font-size: 12px;
	padding-left: 40px;
}
.mobile_menu>ul li ul ul a
{
	padding-left: 60px;
}
.mobile_menu>ul li ul ul ul a
{
	padding-left: 80px;
}
.mobile_menu>ul li.current-menu-ancestor ul a,
.mobile_menu>ul li.current-menu-ancestor ul li.current-menu-parent ul a,
.mobile_menu>ul li.current-menu-ancestor ul li.current-menu-parent ul li.current-menu-parent ul a
{
	color: #000;
	background: #F0F0F0;
}
.mobile-menu-switch
{
	position: absolute;
	right: 0;
	width: 25px;
	padding: 8px 0 8px 8px;
	margin: 0 auto;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.mobile-menu-switch .line
{
	display: block;
	width: 25px;
	height: 2px;
	background: #000;
	margin-bottom: 5px;
}
.mobile-menu-switch:hover .line
{
	background: #409915;
}
/* --- page --- */
.theme_page
{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 30px;
}
.page_layout
{
	margin-top: 25px;
}
.page_left
{
	float: left;
	width: 610px;
}
.page_right
{
	float: right;
	width: 320px;
}
.margin_top
{
	margin-top: 8px;
}
.margin_top_0
{
	margin-top: 0 !important;
}
.page_margin_top
{
	margin-top: 30px;
}
.page_margin_top_section
{
	margin-top: 50px;
}
.page_margin_bottom
{
	margin-bottom: 30px;
}
.page_margin_top_none 
{
	margin-top: 0;
}
.margin_bottom_20
{
	margin-bottom: 20px;
}
.top_hint
{
	position: relative;
	float: right;
	background-color: #409915;
	padding: 9px 10px;
	margin-top: -250px;
}
.home_box.type_sidebar
{
	height: auto;
}
/* --- page header --- */
.page_header h4
{
	font-family: 'Droid Serif';
	font-style: italic;
	margin-top: 5px;
}
.page_header_left
{
	float: left;
	width: 670px;
}
.page_header_right
{
	float: right;
}
/* --- search --- */
.search
{
	margin-top: 11px;
}
.search input
{
	float: left;
	background: transparent;
	padding: 9px;
	margin: 0;
}
.search .search_input
{
	width: 154px;
	height: 36px;
	transition: width 0.5s;
	-moz-transition: width 0.5s; /* Firefox */
	-webkit-transition: width 0.5s; /* Safari and Chrome */
	-o-transition: width 0.5s; /* Opera */
}
.search .search_input:focus
{
	width: 204px;
}
.search input[type='submit']
{
	height: 36px;
	margin-left: 2px;
	cursor: pointer;
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 20px;
}
/* --- bread crumb --- */
.bread_crumb
{
	border-top: 1px solid #515151;
	border-bottom: 1px solid #515151;
	padding: 12px 0;
	margin-top: 25px;
	list-style: none;
	margin-bottom: 0;
}
.bread_crumb li
{
	float: left;
	font-size: 11px;
	margin-left: 3px;
}
.bread_crumb li:first-child
{
	margin-left: 0;
}
.bread_crumb li.separator
{
	width: 16px;
	padding: 0 4px;
}
/* --- vertical menu --- */
.vertical_menu ul
{
	list-style: none;
	padding: 0;
	margin: -15px 0 0;
}
.vertical_menu li a
{	
	border-bottom: 1px solid #353535;
	color: #C5C5C5;
    display: block;
    font-size: 12px;
    height: 44px;
    line-height: 15px;
    padding: 15px 0;
	text-transform: uppercase;
}
.vertical_menu li a:hover
{
	color: #FFF;
	border-color: #409915;
	text-decoration: none;
}
.vertical_menu li.is-active a
{
	color: #FFF;
	border-bottom: 2px solid #409915;
}
/* --- footer --- */
.footer_container
{
	background-color: #303030;
	padding-bottom: 10px;
}
.footer
{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
/* --- icons --- */
/* --- icon small arrow --- */
.icon_small_arrow
{
	background-position: center center;
	background-repeat: no-repeat;
}
.icon_small_arrow.left_black
{
	background-image: url('images/icon_arrow_left_black.png');
}
.icon_small_arrow.right_black
{
	background-image: url('images/icon_arrow_right_black.png');
}
.icon_small_arrow.margin_right_black
{
	background-image: url('images/icon_arrow_margin_right_black.png');
}
.icon_small_arrow.left_white
{
	background-image: url('images/icon_arrow_left_white.png');
}
.icon_small_arrow.margin_right_white
{
	background-image: url('images/icon_arrow_margin_right_white.png');
}
.icon_small_arrow.right_white
{
	background-image: url('images/icon_arrow_right_white.png');
}
.icon_small_arrow.top_white
{
	background-image: url('images/icon_arrow_top_white.png');
}
.icon_small_arrow.top_black
{
	background-image: url('images/icon_arrow_top_black.png');
}
/* --- icon clock --- */
.icon_clock_green
{
	background-image: url('images/icon_clock_green.png');
}
.icon_clock_black
{
	background-image: url('images/icon_clock_black.png');
}
/* --- icon card --- */
.icon_card_green
{
	background-image: url('images/icon_card_green.png');
}
.icon_card_white
{
	background-image: url('images/icon_card_white.png');
}
/* --- banner icon --- */
.banner_icon
{
	width: 50px;
	height: 60px;
	background-position: center center;
	background-repeat: no-repeat;
}
.banner_icon.calendar
{
	background-image: url('images/banner_icon_calendar.png');
}
.banner_icon.hand
{
	background-image: url('images/banner_icon_hand.png');
}
.banner_icon.note
{
	background-image: url('images/banner_icon_note.png');
}
.banner_icon.phone
{
	background-image: url('images/banner_icon_phone.png');
}
/* --- social icon --- */
.social_icons
{
	clear: both;
	margin: 0;
	padding: 0;
	list-style: none;
}
.social_icons li
{
	float: left;
	margin-left: 10px;
}
.social_icons li:first-child
{
	margin-left: 0;
}
.social_icon
{
	display: block;
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
}
.social_icon:hover
{
	background-position: 0 -30px;
}
.social_icon.facebook
{
	background-image: url('images/social_icon_facebook.png');
}
.social_icon.google
{
	background-image: url('images/social_icon_googleplus.png');
}
.social_icon.skype
{
	background-image: url('images/social_icon_skype.png');
}
.social_icon.twitter
{
	background-image: url('images/social_icon_twitter.png');
}
.social_icon.instagram
{
	background-image: url('images/social_icon_instagram.png');
}
.social_icon.linkedin
{
	background-image: url('images/social_icon_linkedin.png');
}
.social_icon.mail
{
	background-image: url('images/social_icon_mail.png');
}
.social_icon.reddit
{
	background-image: url('images/social_icon_reddit.png');
}
.social_icon.stumbleupon
{
	background-image: url('images/social_icon_stumbleupon.png');
}
.social_icon.tumblr
{
	background-image: url('images/social_icon_tumblr.png');
}
.social_icon.pinterest
{
	background-image: url('images/social_icon_pinterest.png');
}
/* --- share box --- */
.share_box
{
	margin: 30px 0;
}
.share_box ul.social_icons
{
	float: left;
	clear: none;
	margin-left: 25px;
}
.share_box h5
{
	font-size: 14px;
	margin-top: 5px;
}
/* --- slider --- */
.caroufredsel_wrapper
{
	width: 100% !important;
	margin: 0 !important;
	overflow: hidden;
}
.slider
{
	padding: 0;
}
.slider li
{
	float: left;
	height: 620px;
	background-position: top center;
	background-repeat: no-repeat;
	list-style: none;
}
.slider li .slider_img
{
	position: relative;
	height: 100%;
	top: 0;
	left: 0;
}
/* --- slider content --- */
.slider_content_box
{
	margin-top: -350px;
	min-height: 98px;
}
.slider_content
{
	display: none;
	float: left;
	border-top: 3px solid #fff;
	padding-top: 11px;
	border-bottom: 1px solid #fff;
	padding-bottom: 17px;
}
.slider_content .title, .slider_content .subtitle
{
	width: 280px;
}
.slider_content .title
{
	display: inline;
}
.slider_content .subtitle
{
	display: inline;
	font-style: italic;
	font-family: 'Droid Serif';
}
/* --- slider navigation --- */
.controls.slider_navigation
{
	float: right;
	margin-top: 60px;
	position: static !important;
	padding: 0 !important;
}
.slider_navigation .more, .slider_navigation .prev, .slider_navigation .next
{
	float: left;
	display: block;
	padding: 0;
	border: none;
}
/* --- home box --- */
.home_box_container
{
	margin-top: 80px;
	margin-bottom: 0;
	list-style: none;
	padding: 0;
}
.home_box
{
	float: left;
	height: 230px;
	width: 320px;
	padding: 25px 30px 30px;
	list-style: none;
}
.home_box_container .home_box
{
	height: 230px;
}
.home_box h3
{
	clear: both;
	font-family: 'Droid Serif';
	font-style: italic;
	color: #000;
	margin-top: 5px;
}
.home_box.white
{
	background-color: #fff;
}
.home_box.white h2
{
	color: #409915;
}
.home_box.light_green
{
	background-color: #59B42D;
}
.home_box.green
{
	background-color: #409915;
}
.home_box.dark
{
	background-color: #303030;
}
.home_box.dark h3
{
	color: #999;
}
.home_box .upcoming_class_prev, .home_box .upcoming_class_next
{
	float: left;
	width: 30px;
	height: 30px;
	border: 1px solid #eee;
}
.home_box .upcoming_class_prev:hover, .home_box .upcoming_class_next:hover
{
	background-color: #000;
	border-color: #000;
}
.home_box .upcoming_class_prev:hover
{
	background-image: url('images/icon_arrow_left_white.png');
}
.home_box .upcoming_class_next:hover
{
	background-image: url('images/icon_arrow_right_white.png');
}
.home_box .upcoming_class_next
{
	margin-left: 2px;
}
.home_box .header_left
{
	width: 198px;
}
.home_box .header_right
{
	width: 62px
}
.home_box .news
{
	margin-top: 20px;
}
.home_box .news .banner_icon
{
	float: left;
	margin-right: 20px;
	margin-top: 5px;
}
.home_box .news .text
{
	line-height: 150%;
}
.home_box.white .news .text
{
	color: #000;
}
.home_box .more
{
	margin-top: 20px;
}
/* --- items list --- */
.items_list
{
	list-style: none;
	padding: 0;
	margin: 0;
}
.items_list.margin_top
{
	margin-top: 8px;
}
.items_list.page_margin_top
{	
	margin-top: 30px;
}
.items_list.page_margin_top_section
{
	margin-top: 50px;
}
.items_list li
{
	float: left;
	width: 100%;
	/*width: 260px;*/
	padding: 12px 0 12px 25px;
	border-bottom: 1px solid #eee;
	background-position: left center;
	background-repeat: no-repeat;
}
.items_list a, .items_list .text
{
	float: left;
	float: none;
	color: #000;
}
.items_list .text {
	display: block;
	width: 100%;
	margin-right: 33px;
}
.items_list .value
{
	float: right;
	color: #000;
}
.items_list.light_green li
{
	border-color: #7ac357;
}
.items_list.light_green li .text, .items_list.light_green .value,
.items_list.green li .text, .items_list.green .value
{
	color: #FFF;
}
.items_list.green li
{
	border-color: #66ad44;
}
.items_list.gray li
{
	border-color: #515151;
}
.items_list.gray span, .items_list.gray .text, .items_list.gray .value,
.items_list.dark span, .items_list.dark a, .items_list.dark .text, .items_list.dark .value
{
	color: #C5C5C5;
}
.items_list.dark li
{
	border-color: #353535;
}
/* --- scrolling list --- */
.scrolling_list_wrapper
{
	margin-top: 18px;
}
.scrolling_list
{
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100% !important;
}
.scrolling_list_control_left, .scrolling_list_control_right
{
	float: left;
	width: 30px;
	height: 30px;
}
.scrolling_list_control_right
{
	margin-left: 2px;
}
.scrolling_list li
{
	background-position: left 18px;
	padding: 10px 0 10px 18px;
	line-height: 150%;
        width: auto;
}
.scrolling_list li p
{
	padding: 0;
}
.scrolling_list li a
{
	clear: both;
	/*float: left;*/
	/*width: 100%;*/
}
.scrolling_list.latest_tweets li a
{
	float: none;
	color: #59B42D;
}
.scrolling_list li .left
{
	float: left;
	/*width: 270px;*/
}
.scrolling_list li .text
{
        float: left;
/*	float: none;
	width: 100%;
	display: block;*/
}
.scrolling_list li a:hover .left
{
	text-decoration: underline;
}
.scrolling_list li .number
{
	float: right;
	width: 32px;
        padding: 8px 0;
	font-size: 11px;
	text-align: center;
	line-height: 1;
	/*display: block;*/
}
.timeago, .trainers .value
{
	clear: both;
	display: block;
	margin-top: 2px;
	font-size: 11px;
	font-weight: bold;
	color: #59B42D;
	text-decoration: none;
}
.trainers .value
{
	/*float: left;*/
}
/* --- upcoming classes --- */
.upcoming_classes_wrapper
{
	height: 120px;
	margin-top: 8px;
}
.upcoming_classes_wrapper p.message
{
	color: #000;
}
.upcoming_classes 
{
}
.upcoming_classes li
{
	background-image: url('images/icon_clock_black.png');
}
/* --- more --- */
.more
{
	float: right;
	color: #fff;
	padding: 5px 24px 6px 9px;
	line-height: normal;
	background-position: right center;
}
.more.black
{
	background-color: #000;
	border: 1px solid #000;
}
.more.black:hover
{
	background-color: #fff;
	border-color: #fff;
	color: #000;
	background-image: url('images/icon_arrow_margin_right_black.png');
}
.more.light
{
	color: #000;
	border-color: #EEE;
}
.more.light:hover
{
	background-color: #000;
	border-color: #000;
	color: #FFF;
	background-image: url('images/icon_arrow_margin_right_white.png');
}
/* --- blog --- */
.blog
{
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.blog.page_margin_top_section
{
	margin-top: 50px;
}
.comment_box
{
	float: left;
	width: 80px;
	margin-right: 30px;
	text-align: center;
}
.post
{
	float: left;
	margin-top: 30px;
	margin-bottom: 30px;
}
.comment_box .first_row
{
	background-color: #409915;
	padding: 22px 0 21px;
	font-size: 22px;
	text-align: center;
}
.comment_box .second_row
{
	display: block;
	margin-top: 4px;
	font-size: 12px;
}
.comment_box .second_row.small
{
	font-size: 11px;
}
.comment_box .comments_number
{
	display: block;
	text-align: center;
	font-size: 11px;
	border-bottom: 1px solid #515151;
	padding: 8px 0 9px;
	color: #fff;
}
.comment_box .comments_number:hover
{
	border-color: #409915;
}
.post_content
{
	float: right;
	width: 500px;
}
.post_content a.post_image
{
	display: block;
	margin-bottom: 27px;
}
.post_content a.post_image img
{
	display: block;
	width: 500px;
	height: auto;
	background: url('images/preloader.gif') no-repeat center center;
}
.post_content .text img
{
	max-width: 100%;
	height: auto;
}
.post_content h2
{
	margin-bottom: 11px;
}
.post_content .text
{
	line-height: 150%;
}
.post_footer
{
	margin-top: 12px;
}
.categories, .widget_categories ul, .widget_archive ul
{
	list-style: none;
	padding: 0;
	margin: 0;
}
.categories li.posted_by
{
	background: url('images/icon_post_author.png') no-repeat 10px center;
	padding: 8px 9px 8px 25px;
}
.categories li.posted_by .author
{
	display: inline;
	color: #fff;
	border: none;
	padding: 0;
}
.categories li.posted_by .author:hover
{
	text-decoration: underline;
}
.categories li, .widget_categories li
{
	float: left;
	font-size: 11px;
	margin-right: 2px;
	margin-bottom: 2px;
}
.categories li:last-child, .widget_categories li:last-child
{
	margin-right: 0;
}
.categories li a, .widget_categories li a
{
	display: block;
	padding: 8px 9px;
}
.show_all
{
	border-top: 1px solid #515151;
	clear: both;
	margin-top: 0;
}
.show_all.page_margin_top
{
	margin-top: 30px;
}
.show_all.page_margin_top_section
{
	margin-top: 30px;
}
.show_all .more
{
	margin-top: -1px;
}
/* --- comments --- */
#comments_list
{
	float: right;
}
#comments_list ul
{
	list-style: none;
	padding: 0;
	margin: 0;
}
#comments_list li.comment
{
	width: 500px;
	margin-top: 35px;
}
#comments_list li.comment:first-child
{
	margin-top: 0;
}
#comments_list .comment_author_avatar
{
	float: left;
	width: 78px;
	height: 78px;
	margin-right: 20px;
	border: 1px solid #515151;
}
#comments_list .comment_details
{
	float: left;
	width: 400px;
}
#comments_list .comment_details .posted_by
{
	background: url('images/icon_post_author.png') no-repeat left center;
	font-size: 11px;
	padding-left: 15px;
	line-height: 140%;
}
#comments_list .comment_details .posted_by a
{
	color: #fff;
}
#comments_list .comment_details p
{
	line-height: 150%;
	padding: 20px 0;
}
#comments_list .reply_button
{
	float: left;
	clear: both;
	padding-right: 13px;
	background-position: right 5px;
	color: #fff;
}
#comments_list .children
{
	clear: both;
	float: left;
	margin-left: 40px;
	margin-top: 35px;
}
#comments_list .children .children
{
	margin-left: 0;
}
#comments_list .children li.comment
{
	width: 460px;
}
#comments_list .children .comment_details
{
	width: 360px;
}
#comments_list .pagination
{
	margin-top: 20px;
}
/* --- forms --- */
.comment_form_container
{
	float: left;
	margin-left: 110px;
	margin-top: 25px;
}
.comment_form,
.contact_form
{
	float: left;
	width: 100%;
}
.comment_form
{
	margin-top: 30px;
}
.comment_form .left,
.comment_form .right,
.contact_form .left,
.contact_form .right
{
	float: left;
	width: 245px;
}
.contact_form .left,
.contact_form .right
{
	width: 210px;
}
.comment_form .right, .contact_form .right
{
	float: left;
	margin-left: 10px;
}
.comment_form input, .comment_form textarea,
.contact_form input, .contact_form textarea
{
	background: transparent;
	padding: 9px;
	margin: 0;
}
.comment_form textarea
{
	width: 245px;
	height: 128px;
}
.contact_form textarea
{
	width: 220px;
	height: 128px;
}
.comment_form .block,
.contact_form .block
{
	margin-top: 10px;
}
.comment_form .text_input
{
	width: 245px;
}
.contact_form .text_input
{
	width: 220px;
}
.comment_form .text_input:first-child,
.contact_form .block:first-child
{
	margin-top: 0;
}
.comment_form input[type='submit'],
.contact_form input[type='submit']
{
	float: right;
	width: 70px;
	height: 36px;
	margin-top: 10px;
	cursor: pointer;
	background-position: right center;
	background-repeat: no-repeat;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#cancel_comment
{
	display: none;
	float: right;
	margin-top: 22px;
	margin-right: 20px;
}
/* --- pagination --- */
.pagination
{
	float: right;
	list-style: none;
}
.pagination li
{
	float: left;
	margin-left: 2px;
}
.pagination li:first-child
{
	margin-left: 0;
}
.pagination li a, .pagination li span
{
	display: block;
	height: 30px;
	padding: 9px 11px 7px;
	font-size: 11px;
}
/* --- sidebar box --- */
.sidebar_box
{
	float: left;
	width: 320px;
	margin-top: 50px;
}
.sidebar_box:first-child
{
	margin-top: 0;
}
.sidebar_box .header_left, .footer_box .header_left
{
	width: 258px;
}
.sidebar_box .header_right, .footer_box .header_right
{
	width: 62px;
	width: auto;
}
/* --- sidebar header top --- */
.header_top_sidebar .textwidget
{
	margin-top: 10px;
}
/* --- sidebar header top right --- */
.header_top_right_sidebar
{
	float: right;
	margin: 0;
}
.header_top_right_sidebar>*
{
	margin: 18px 0 0 25px;
}
/* --- sidebar right --- */
.sidebar-right
{
	list-style: none;
	padding: 0;
	margin: 0;
}
/* --- training classes --- */
.accordion
{
	clear: both;
	list-style: none;
	padding: 0;
}
.accordion.page_margin_top
{
	margin-top: 13px;
}
.accordion .ui-accordion-header h5
{
	font-family: 'Droid Serif';
	font-style: italic;
	margin-top: 5px;
}
.accordion .ui-accordion-header
{
	cursor: pointer;
	padding-bottom: 15px;
	padding-top: 14px;
	border-bottom: 1px solid #353535;
	background: url('images/icon_accordion_arrow_down.png') no-repeat right center;
}
.accordion li:first-child .ui-accordion-header
{
	padding-top: 0;
}
.accordion .ui-accordion-header.ui-state-hover
{
	border-bottom: 1px solid #409915;
}
.accordion .ui-accordion-header.ui-state-active
{
	border-bottom: 2px solid #409915;
	background: url('images/icon_accordion_arrow_up.png') no-repeat right center;
}
.accordion .ui-accordion-content
{
	padding: 20px 0;
	line-height: 150%;
}
.accordion.wide .ui-accordion-content
{
	padding: 30px 0;
}
.accordion .ui-accordion-content .thumb_image, .accordion .ui-accordion-content .thumb_image img
{
	display: block;
	width: 80px;
	height: 80px;
}
.accordion .ui-accordion-content .thumb_image
{
	float: left;
	margin-right: 20px;
}
.accordion.widget-classes .text
{
	margin-left: 100px;
}
.accordion .ui-accordion-content .item_footer
{
	margin-top: 20px;
	line-height: 1;
}
.accordion .ui-accordion-content .item_footer .more
{
	margin-right: 2px;
}
.accordion .ui-accordion-content .item_footer .more:first-child
{
	margin-right: 0;
}
.accordion.wide .about_img
{
	width: 500px;
	height: auto;
	margin-bottom: 23px;
}
.accordion.wide .full-width .about_img
{
	width: 100%;
}
.accordion.wide .full-width .column_left,
.accordion.wide .full-width .column_right
{
	width: 290px;
}
.accordion.wide .full-width .pricing_plan li
{
	width: 100%
}
.accordion .list.trainers li
{
	margin-top: 20px;
}
.accordion .list.trainers li:first-child
{
	margin-top: 0;
}
.accordion ul, .accordion ul li ul
{
    list-style-type: none;
}
/* --- tabs --- */
.ui-tabs-hide
{
	display: none;
}
.ui-tabs-nav
{
	float: left;
	width: 80px;
}
.ui-tabs-nav li
{
	margin-bottom: 2px;
}
.ui-tabs-nav li:last-child
{
	margin-bottom: 0;
}
.ui-tabs-nav li a
{
	display: block;
	width: 80px;
	text-align: center;
	padding: 5px 0;
}
.ui-tabs-panel
{
	float: right;
	width: 500px;
}
.ui-tabs-panel ul
{
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
.ui-tabs-panel p
{
	padding: 24px 0 25px;
}
.horizontal .ui-tabs-panel
{
	float: none;
	width: 100%;
}
/* tabs navigation */
.ui-tabs-nav, .tabs_navigation
{
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}
.tabs_navigation
{
	float: none;
	clear: both;
	width: 100%;
}
.tabs_navigation li
{
	float: left;
	margin-top: 0;
	margin-right: 2px;
	margin-bottom: 2px;
}
.tabs_navigation li:last-child
{
	margin-right: 0;
}
.tabs_navigation li a
{
	width: auto;
	display: block;
	text-align: center;
	padding: 8px 10px;
}
/* --- columns --- */
.columns
{
	
}
.column_left, .column_right
{
	width: 235px;
}
.column_left
{
	float: left;
	margin-right: 30px;
}
.column_right
{
	float: right;
}
.columns p,
.wpb_text_column p
{
	clear: both;
	padding: 25px 0;
}
.columns.full_width .column_left
{
	width: 450px;
}
.columns.full_width .column_right
{
	width: 480px;
}
/* --- list --- */
.list
{
	clear: both;
	padding: 25px 0;
	margin: 0;
	list-style: none;
}
.ui-tabs-panel ul.list
{
	padding: 25px 0;
}
.list li
{
	background-position: left center;
	padding-left: 18px;
	background-repeat: no-repeat;
}
.list.top_marker li
{
	background-position: left 8px;
}
/* --- pricing plan --- */
.pricing_plan
{
	clear: both;
	float: left;
	margin-top: 13px;
}
.pricing_plan li
{
	/*width: 235px;*/
	padding-left: 18px;
}
/* --- timetable --- */
.timetable
{
	width: 100%;
	font-size: 11px;
	margin-top: 30px;
}
.timetable tbody tr
{
	background: url('images/dotted_line.png') left top repeat-x;
}
.timetable th, .timetable td
{
	width: 12.5%;
	text-align: center;
	padding: 15px;
}
.timetable .last
{
	padding-right: 0;
}
.timetable .class_trainers
{
	font-size: 12px;
}
.timetable .event
{
	background-color: #409915;
	color: #FFF;
	border-bottom: 1px solid #151515;
	border-right: 1px solid #151515;
	line-height: 150%;
}
.timetable .event a
{
	display: block;
	color: #FFF;
	font-weight: bold;
}
.timetable .row_gray
{
	background-color: #202020;
}
.timetable .event:hover,
.timetable .event.tooltip:hover
{
	background-color: #FFF !important;
	color: #000 !important;
}
.timetable .event:hover a,
.timetable .event.tooltip:hover a
{
	color: #000 !important;
}
.timetable.small
{
	display: none;
	font-size: 13px;
}
.timetable_dropdown_navigation
{
	border: 1px solid #E0E0E0;
}
/* --- tip/tooltip/qtip --- */
.tip
{
	background: url('images/icon_tip.png') #202020 no-repeat 15px center;
	padding: 10px 10px 10px 35px;
	float: right;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}
.tooltip
{
	cursor: pointer;
}
.tooltip .tooltip_text
{
	display: block;
	padding-bottom: 16px;
	visibility: hidden;
    opacity: 0;
	position: absolute;
	z-index: 1000;
	left: -19px;
	bottom: 100%;
	/* CSS3 Transitions */
	-webkit-transition-duration: 0.25s;
	-moz-transition-duration: 0.25s;
	-o-transition-duration: 0.25s;
	-ms-transition-duration: 0.25s;
	transition-duration: 0.25s;
	-webkit-transition-timing-function: cubic-bezier(0.35,0,0.35,1);
	-moz-transition-timing-function: cubic-bezier(0.35,0,0.35,1);
	-o-transition-timing-function: cubic-bezier(0.35,0,0.35,1);
	-ms-transition-timing-function: cubic-bezier(0.35,0,0.35,1);
	transition-timing-function: cubic-bezier(0.35,0,0.35,1);
	/* CSS3 Transitions */
	-webkit-transition-property: opacity, visibility;
	-moz-transition-property: opacity, visibility;
	-o-transition-property: opacity, visibility;
	-ms-transition-property: opacity, visibility;
	transition-property: opacity, visibility;
	background: url('images/tooltip_arrow.png') no-repeat 15px bottom;
}
.tooltip .tooltip_content
{
	background: #FFF;
	color: #000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 10px;
	line-height: 150%;
	font-family: arial, sans-serif;
	font-size: 13px;
	text-align: left;
}
.tooltip:hover .tooltip_text
{	
	visibility: visible;
	opacity: 1;
}
.ui-tooltip-error .ui-tooltip-content,
.ui-tooltip-success .ui-tooltip-content
{
	font-size: 13px;
	font-family: arial;
	color: #FFF;
}
.ui-tooltip-error .ui-tooltip-content,
.ui-tooltip-success .ui-tooltip-content
{
	border:none; 
}
.ui-tooltip-content
{
	padding:10px 20px 10px 20px;
}
.ui-tooltip-error .ui-tooltip-content
{
	background:#E9431C;
}
.ui-tooltip-success .ui-tooltip-content
{
	background:#61911B;
}
/* --- controls --- */
.controls
{
	position: absolute;
	padding: 10px;
	list-style: none;
	margin: 0;
}
.controls li
{
	float: left;
}
.controls .open_details, .controls .open_lightbox, .controls .open_video_lightbox, .controls .open_url_lightbox, .controls .open_iframe_lightbox, .controls .more, .controls .close, .controls .prev, .controls .next
{
	display: block;
	width: 40px;
	height: 40px;
	background-position: 0 0;
	background-repeat: no-repeat;
	margin-left: 2px;
}
.controls .more, .controls .close, .controls .prev, .controls .next
{
	width: 39px;
	height: 39px;
}
.controls .open_details:hover, .controls .open_lightbox:hover, .controls .open_video_lightbox:hover, .controls .open_url_lightbox:hover, .controls .open_iframe_lightbox:hover
{
	background-position: 0 -40px;
}
.controls .more:hover, .controls .close:hover, .controls .prev:hover, .controls .next:hover
{
	background-position: 0 -39px;
}
.controls .open_details
{
	background-image: url('images/thumb_details.png');
	margin-left: 0;
}
.controls .open_lightbox
{
	background-image: url('images/thumb_image.png');
}
.controls .open_video_lightbox
{
	background-image: url('images/thumb_video.png');
}
.controls .open_url_lightbox
{
	background-image: url('images/thumb_url.png');
}
.controls .open_iframe_lightbox
{
	background-image: url('images/thumb_url.png');
}
.controls .more
{
	background-image: url('images/navigation_more.png');
}
.controls .close
{
	background-image: url('images/navigation_close.png');
}
.controls .prev
{
	background-image: url('images/navigation_previous.png');
}
.controls .next
{
	background-image: url('images/navigation_next.png');
}
.slider_navigation .more
{
	display: none;
}
/* --- isotope gallery --- */
.isotope-item 
{
	z-index: 2;
}
.isotope-hidden.isotope-item 
{
	pointer-events: none;
	z-index: 1;
}
.isotope,
.isotope .isotope-item 
{
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope 
{
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item 
{
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property:    -moz-transform, opacity;
	-ms-transition-property:     -ms-transform, opacity;
	-o-transition-property:         top, left, opacity;
	transition-property:         transform, opacity;
}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition 
{
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}
.theme_gallery
{
	margin: 0 auto;
	list-style: none;
	padding: 0;
}
.gallery_box
{
	display: block;
	cursor: pointer;
	margin-top: 30px;
}
.gallery_box img
{
	display: block;
	width: 240px;
	height: 180px;
	background: url('images/preloader.gif') no-repeat center center;
}
.gallery_box .description
{
	width: 240px;
	background-color: #409915;
	padding: 20px;
	background-position: 220px center;
}
.gallery_box .description h5
{
	margin-top: 5px;
	color: #000;
	font-family: 'Droid Serif';
	font-style: italic;
}
.gallery_box:hover .description
{
	background-color: #FFF;
	background-image: url('images/icon_arrow_top_black.png');
}
.gallery_box:hover h3
{
	color: #409915;
}
.gallery_box .controls
{
	display: none;
	top: 90px;
	left: 69px;
	background: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#3F000000,endColorstr=#3F000000)";/* IE8 */    
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3F000000,endColorstr=#3F000000);/* IE6 & 7 */ 
	background: rgba(0, 0, 0, 0.25);
	zoom: 1;
}
.gallery_box:hover .controls
{
	display: block;
}
.gallery_item_details_list
{
	height: 0;
	overflow: hidden;
	display: none;
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}
.gallery_item_details_list .gallery_item_details
{
	display: none;
	position: relative;
}
.gallery_item_details_list .image_box
{
	position: relative;
	float: left;
	width: 480px;
	margin-right: 30px;
}
.gallery_item_details_list .details_box
{
	float: left;
	width: 450px;
	padding-top: 23px;
	border-top: 2px solid #409915;
	border-bottom: 2px solid #409915;
}
.gallery_item_details_list .image_box img
{
	width: 480px;
	height: auto;
	background: url('images/preloader.gif') no-repeat center center;
}
.gallery_item_details_list .image_box .controls
{
	bottom: 0;
	right: 0;
}
.gallery_item_details_list .details_box .subheader
{
	font-family: 'Droid Serif';
	font-style: italic;
	margin-top: 5px;
	margin-bottom: 17px;
}
.gallery_item_details_list .details_box p
{
	clear: both;
	line-height: 150%;
	padding: 20px 0;
}
.gallery_item_details_list .details_box .columns
{
	clear: both;
}
.gallery_item_details_list .details_box .column_left,
.gallery_item_details_list .details_box .column_right
{
	width: 210px;
}
.gallery_item_details_list .details_box .list
{
	line-height: 150%;
}
/* --- fancybox --- */
#fancybox-title-float-main
{
	background: #FFF;
	padding: 0;
	color: #000;
}
#fancybox-wrap,
#fancybox-wrap *
{
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
/* --- contact details --- */
.contact_details
{
	float: left;
}
.contact_details_about
{
	width: 240px;
	height: 240px;
	background: #FFF;
	padding: 20px;
	color: #000;
	line-height: 150%;
}
.contact_details_about p 
{
	color: #000;
	clear: both;
	padding: 25px 0;
}
.contact_details_map
{
	width: 240px;
	height: 240px;
}
.contact_details_about, .contact_details_map
{
	float: left;
}
.contact_data
{
	list-style: none;
	padding: 0;
	margin: 0;
}
.contact_data li
{
	background-position: 0 3px;
	background-repeat: no-repeat;
	padding-left: 30px;
}
.contact_data .phone
{
	background-image: url('images/icon_contact_phone.png');
}
.contact_data .fax
{
	background-image: url('images/icon_contact_fax.png');
}
.contact_data .email
{
	background-image: url('images/icon_contact_mail.png');
}
/* --- footer banner box --- */
.footer_banner_box_container
{
	list-style: none;
	padding: 0;
	margin: 0;
}
.footer_banner_box
{
	float: left;
	height: 100px;
	width: 320px;
	padding: 20px 30px;
}
.footer_banner_box h3
{
	font-family: 'Droid Serif';
	font-style: italic;
	color: #000;
	margin-top: 5px;
}
.footer_banner_box.super_light_green
{
	background-color: #6EC03C;
}
.footer_banner_box.light_green
{
	background-color: #59B42D;
}
.footer_banner_box.green
{
	background-color: #409915;
}
.footer_banner_box .banner_icon
{
	float: left;
	margin-right: 20px;
}
.footer_banner_box .content
{
	float: left;
	width: 190px;
	margin-top: 5px;
}
/* --- footer box --- */
.footer_box_container
{
	margin-top: 30px;
}
.footer_box
{
	float: left;
	width: 290px;
	margin-left: 30px;
}
.footer_box:first-child
{
	margin-left: 0;
}
.footer_box.scrolling_recent_posts_widget
{
	width: 320px;
}
/* --- footer contact info --- */
.footer_contact_info_container
{
	clear: both;
	padding-top: 30px;
	padding-left: 0;
	list-style: none;
	margin: 0;
}
.footer_contact_info_row
{
	clear: both;
	padding-top: 5px;
}
.footer_contact_info_row:first-child
{
	padding-top: 0;
}
.footer_contact_info_left
{
	float: left;
	width: 150px;
}
.footer_contact_info_right
{
	float: right;
	width: 120px;
	margin-left: 20px;
}
/* --- footer_social_icons --- */
.footer_social_icons
{
	margin-top: 30px;
	margin-bottom: 0;
	list-style: none;
	padding: 0;
}
.footer_social_icons li
{
	float: left;
	margin-left: 10px;
}
.footer_social_icons li:first-child
{
	margin-left: 0;
}
/* --- opening hours --- */
.opening_hours
{
	float: left;
	clear: both;
	margin-top: 20px;
}
.opening_hours.page_margin_top
{
	margin-top: 20px;
}
.opening_hours li
{
	width: 290px;
}
/* --- footer recent posts --- */
.footer_recent_posts
{
	
}
/* --- copyright area --- */
.copyright_area
{
	border-top: 1px solid #515151;
	padding: 15px 0;
	font-size: 11px;
}
.copyright_left
{
	float: left;
}
.copyright_right
{
	float: right;
}
.copyright_right .scroll_top
{
	font-size: 11px;
	background-position: right center;
	padding-right: 15px;
}
/* --- links --- */
.more,
.categories li a,
.widget_categories li a,
.scrolling_list_control_left, 
.scrolling_list_control_right,
.pagination li a,
.pagination li span,
.scrolling_list li .number,
.ui-tabs-nav li a,
.tabs_navigation li a,
.categories li.posted_by,
.search input,
.comment_form input, .comment_form textarea,
.contact_form input, .contact_form textarea
{
	border: 1px solid #515151;
}
.more:hover,
.categories li a:hover,
.widget_categories li a:hover,
li.current-cat a,
.scrolling_list_control_left:hover, 
.scrolling_list_control_right:hover,
.search input[type='submit']:hover,
.comment_form input[type='submit']:hover,
.contact_form input[type='submit']:hover,
.pagination li a:hover,
.pagination li.selected a,
.pagination li.selected span,
.scrolling_list li a:hover .number,
.ui-tabs-nav li a:hover,
.ui-tabs-nav li.ui-tabs-active a,
.tabs_navigation li a:hover,
.tabs_navigation li a.selected
{
	border-color: #409915;
	color: #fff;
}
.search .search_input:focus,
.comment_form .text_input:focus, .comment_form textarea:focus,
.contact_form .text_input:focus, .contact_form textarea:focus
{
	border-color: #409915;
}
.sf-menu a:hover,
.more:hover,
.categories li a:hover,
.widget_categories li a:hover,
.controls .prev:hover, 
.controls .next:hover,
.controls .close:hover,
.comments_number:hover,
.scrolling_list_control_left:hover, 
.scrolling_list_control_right:hover,
.home_box .upcoming_class_prev:hover, 
.home_box .upcoming_class_next:hover,
.social_icon:hover,
.pagination li a:hover,
.ui-tabs-nav li a:hover,
.tabs_navigation li a:hover
{
	text-decoration: none;
}
/* --- widgets --- */
.textwidget
{
	float: left;
}
.classes_widget .box_header
{
	margin-bottom: 30px;
}
.widget_categories .box_header
{
	margin-top: 27px;
}
.widget_categories ul, .widget_archive ul
{
	clear: both;
	float: left;
	margin-top: 30px;
}
.widget_archive li
{
	float: left;
	width: 160px;
	margin-bottom: 5px;
}
.tagcloud
{
	clear: both;
	float: left;
	margin-top: 20px;
}
/* --- visual composer --- */
.wpb_row *,
.wpb_row *::before,
.wpb_row *::after
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wpb_row::before,
.wpb_row::after
{
  content: " ";
  display: table;
}
.wpb_row::after
{
  clear: both;
}
.vc_row .vc_column_container > .vc_column-inner
{
	padding: 0;
}
.page_layout .wpb_row
{
	margin-bottom: 0;
}
body .vc_row
{
	margin-left: 0;
	margin-right: 0;
}
.wpb_widgetised_column,
.wpb_content_element,
ul.wpb_thumbnails-fluid > li,
.last_toggle_el_margin, .wpb_button
{
	margin-bottom: 0 !important;
	
}
.wpb_widgetised_column
{
	clear: both;
}
.wpb_widgetised_column .wpb_wrapper > ul
{
	padding: 0;
}
.vc_row-fluid .wpb_column.page_left
{
	float: left;
    width: 630px;
}
.vc_row-fluid .wpb_column.page_right
{
	float: right;
    width: 330px;
	margin: 0;
}
.wpb_separator.wpb_content_element,
.vc_text_separator.wpb_content_element
{
	border-color: #E0E0E0;
	margin-bottom: 0;
	height: auto;
}
.vc_text_separator.wpb_content_element
{
	position: static;
	top: 0;
}
.vc_row-fluid [class*="vc_col-sm-"]
{
	float: left;
	margin-left: 30px;
	min-height: auto;
	padding-left: 0;
	padding-right: 0;
	
}
.vc_row-fluid [class*="vc_col-sm-"]:first-child ,
.vc_row-fluid .vc-container-anchor+[class*="vc_col-sm-"]
{
	margin-left: 0;
}
.wpb_single_image figure.vc_figure
{
	display: block;
}
/* --- vc classes --- */
.vc_row-fluid div[class*="vc_col-sm-"] .classes-accordion
{
	width: 100%;
}
.vc_row-fluid div[class*="vc_col-sm-"] .classes-accordion .tabs-panel
{
	float: none;
	margin-left: 110px;
	width: auto;
}
.vc_row-fluid div[class*="vc_col-sm-"] .classes-accordion .tabs-panel>ul
{
	padding: 0;
}
.vc_row-fluid div[class*="vc_col-sm-"] .classes-accordion .about_img
{
	width: 100%;
}
.vc_row-fluid div[class*="vc_col-sm-"] .classes-accordion.full-width .tabs-panel
{
	margin: 0;
	width: 100%;
}
.vc_row-fluid div[class*="vc_col-sm-"] .classes-accordion .column_left,
.vc_row-fluid div[class*="vc_col-sm-"] .classes-accordion .column_right
{
	width: 50%;
	margin: 0;
}
.vc_row-fluid div[class*="vc_col-sm-"] .classes-accordion .column_left
{
	padding-right: 15px;
}
.vc_row-fluid div[class*="vc_col-sm-"] .classes-accordion .column_right
{
	padding-left: 15px;
}
.vc_row-fluid div[class*="vc_col-sm-"] .classes-accordion .items_list li
{
	width: 100%;
}
.vc_row-fluid div.vc_col-sm-8+div.vc_col-sm-4 .classes-accordion .ui-tabs-nav,
.vc_row-fluid div.vc_col-sm-4 .classes-accordion .ui-tabs-nav,
.vc_row-fluid div.vc_col-sm-3 .classes-accordion .ui-tabs-nav
{
	margin-bottom: 21px;
	width: 100%;
}

.vc_row-fluid div.vc_col-sm-8+div.vc_col-sm-4 .classes-accordion .ui-tabs-nav li,
.vc_row-fluid div.vc_col-sm-4 .classes-accordion .ui-tabs-nav li,
.vc_row-fluid div.vc_col-sm-3 .classes-accordion .ui-tabs-nav li
{
	float: left;
}
.vc_row-fluid div.vc_col-sm-3 .classes-accordion .ui-tabs-nav li a
{
	width: 70px;
}
.vc_row-fluid div.vc_col-sm-8+div.vc_col-sm-4 .classes-accordion .tabs-panel,
.vc_row-fluid div.vc_col-sm-4 .classes-accordion .tabs-panel,
.vc_row-fluid div.vc_col-sm-3 .classes-accordion .tabs-panel
{
	clear: both;
	margin: 0;
	width: 100%;
}
.vc_row-fluid div.vc_col-sm-8+div.vc_col-sm-4 .classes-accordion .column_left,
.vc_row-fluid div.vc_col-sm-8+div.vc_col-sm-4 .classes-accordion .column_right,
.vc_row-fluid div.vc_col-sm-4 .classes-accordion .column_left,
.vc_row-fluid div.vc_col-sm-4 .classes-accordion .column_right,
.vc_row-fluid div.vc_col-sm-3 .classes-accordion .column_left,
.vc_row-fluid div.vc_col-sm-3 .classes-accordion .column_right
{
	padding: 0;
	width: 100%;
}
/* --- vc timetable --- */
.vc_row-fluid .vc_col-sm-9 .timetable,
.vc_row-fluid .vc_col-sm-8 .timetable,
.vc_row-fluid .vc_col-sm-6 .timetable,
.vc_row-fluid .vc_col-sm-4 .timetable,
.vc_row-fluid .vc_col-sm-3 .timetable
{
	display: none;
}
.vc_row-fluid .vc_col-sm-9 .timetable.small,
.vc_row-fluid .vc_col-sm-8 .timetable.small,
.vc_row-fluid .vc_col-sm-6 .timetable.small,
.vc_row-fluid .vc_col-sm-4 .timetable.small,
.vc_row-fluid .vc_col-sm-3 .timetable.small
{
	display: block;
}
.vc_row-fluid .vc_col-sm-9 .timetable.small .items_list li,
.vc_row-fluid .vc_col-sm-8 .timetable.small .items_list li,
.vc_row-fluid .vc_col-sm-6 .timetable.small .items_list li,
.vc_row-fluid .vc_col-sm-4 .timetable.small .items_list li,
.vc_row-fluid .vc_col-sm-3 .timetable.small .items_list li
{
	width: 100%;
}
/* --- vc isotope gallery --- */
[class*="vc_col-sm-"] .tabs_navigation li:last-child {
	margin-bottom: 2px;
}
.vc_row-fluid [class*="vc_col-sm-"] .gallery_item_details_list .image_box img,
.vc_row-fluid [class*="vc_col-sm-"] .details_box,
.vc_row-fluid [class*="vc_col-sm-"] .theme_gallery
{
	width: 100%;
}
.vc_row-fluid .vc_col-sm-12 .gallery_item_details_list .image_box,
.vc_row-fluid .vc_col-sm-10 .gallery_item_details_list .image_box,
.vc_row-fluid .vc_col-sm-9 .gallery_item_details_list .image_box,
.vc_row-fluid .vc_col-sm-12 .gallery_item_details_list .details_box_outer,
.vc_row-fluid .vc_col-sm-10 .gallery_item_details_list .details_box_outer,
.vc_row-fluid .vc_col-sm-9 .gallery_item_details_list .details_box_outer
{
	width: 50%;
}
.vc_row-fluid .vc_col-sm-12 .gallery_item_details_list .image_box,
.vc_row-fluid .vc_col-sm-10 .gallery_item_details_list .image_box,
.vc_row-fluid .vc_col-sm-9 .gallery_item_details_list .image_box
{
	margin-right: 0px;
}
.vc_row-fluid .vc_col-sm-12 .gallery_item_details_list .image_box img,
.vc_row-fluid .vc_col-sm-10 .gallery_item_details_list .image_box img,
.vc_row-fluid .vc_col-sm-9 .gallery_item_details_list .image_box img
{
	width: 100%;
}
.vc_row-fluid .vc_col-sm-12 .gallery_item_details_list .details_box_outer,
.vc_row-fluid .vc_col-sm-10 .gallery_item_details_list .details_box_outer,
.vc_row-fluid .vc_col-sm-9 .gallery_item_details_list .details_box_outer
{
	float: right;
	padding-left: 30px;
}
.vc_row-fluid .vc_col-sm-12 .gallery_item_details_list .column_left,
.vc_row-fluid .vc_col-sm-12 .gallery_item_details_list .column_right,
.vc_row-fluid .vc_col-sm-10 .gallery_item_details_list .column_left,
.vc_row-fluid .vc_col-sm-10 .gallery_item_details_list .column_right,
.vc_row-fluid .vc_col-sm-9 .gallery_item_details_list .column_left,
.vc_row-fluid .vc_col-sm-9 .gallery_item_details_list .column_right
{
	width: 50%;
}
.vc_row-fluid .vc_col-sm-12 .gallery_item_details_list .column_left,
.vc_row-fluid .vc_col-sm-10 .gallery_item_details_list .column_left,
.vc_row-fluid .vc_col-sm-9 .gallery_item_details_list .column_left,
.vc_row-fluid .vc_col-sm-8 .gallery_item_details_list .column_left,
.vc_row-fluid .vc_col-sm-7 .gallery_item_details_list .column_left,
.vc_row-fluid .vc_col-sm-6 .gallery_item_details_list .column_left
{
	margin-right: 0;
	padding-right: 15px;
}
.vc_row-fluid .vc_col-sm-12 .gallery_item_details_list .column_right,
.vc_row-fluid .vc_col-sm-10 .gallery_item_details_list .column_right,
.vc_row-fluid .vc_col-sm-9 .gallery_item_details_list .column_right,
.vc_row-fluid .vc_col-sm-8 .gallery_item_details_list .column_right,
.vc_row-fluid .vc_col-sm-7 .gallery_item_details_list .column_right,
.vc_row-fluid .vc_col-sm-6 .gallery_item_details_list .column_right
{
	padding-left: 15px;
}
.vc_row-fluid  .vc_col-sm-8 .gallery_item_details_list .image_box,
.vc_row-fluid  .vc_col-sm-8 .gallery_item_details_list .details_box_outer,
.vc_row-fluid  .vc_col-sm-8+.vc_col-sm-4 .gallery_item_details_list .image_box,
.vc_row-fluid  .vc_col-sm-8+.vc_col-sm-4 .gallery_item_details_list .details_box_outer,
.vc_row-fluid  .vc_col-sm-7 .gallery_item_details_list .image_box,
.vc_row-fluid  .vc_col-sm-7 .gallery_item_details_list .details_box_outer,
.vc_row-fluid  .vc_col-sm-6 .gallery_item_details_list .image_box,
.vc_row-fluid  .vc_col-sm-6 .gallery_item_details_list .details_box_outer,
.vc_row-fluid  .vc_col-sm-4 .gallery_item_details_list .image_box,
.vc_row-fluid  .vc_col-sm-4 .gallery_item_details_list .details_box_outer,
.vc_row-fluid  .vc_col-sm-3 .gallery_item_details_list .image_box,
.vc_row-fluid  .vc_col-sm-3 .gallery_item_details_list .details_box_outer
{
	width: 100%;
}
.vc_row-fluid  .vc_col-sm-8 .gallery_item_details_list .details_box_outer,
.vc_row-fluid  .vc_col-sm-8+.vc_col-sm-4 .gallery_item_details_list .details_box_outer,
.vc_row-fluid  .vc_col-sm-7 .gallery_item_details_list .details_box_outer,
.vc_row-fluid  .vc_col-sm-6 .gallery_item_details_list .details_box_outer,
.vc_row-fluid  .vc_col-sm-4 .gallery_item_details_list .details_box_outer,
.vc_row-fluid  .vc_col-sm-3 .gallery_item_details_list .details_box_outer
{
	float: left;
	margin-top: 23px;
	padding-left: 0;
}
.vc_row-fluid .vc_col-sm-8+.vc_col-sm-4 .gallery_item_details_list .column_left,
.vc_row-fluid .vc_col-sm-4 .gallery_item_details_list .column_left,
.vc_row-fluid .vc_col-sm-3 .gallery_item_details_list .column_left
{
	width: 100%;
	margin-right: 0;
	padding-right: 0;
}
.vc_row-fluid .vc_col-sm-8+.vc_col-sm-4 .gallery_item_details_list .column_right,
.vc_row-fluid .vc_col-sm-4 .gallery_item_details_list .column_right,
.vc_row-fluid .vc_col-sm-3 .gallery_item_details_list .column_right
{
	width: 100%;
	padding-left: 0;
}
/* --- vc blog --- */
[class*="vc_col-sm-"] .blog li.post,
[class*="vc_col-sm-"] .blog li.gymbase_gallery
{
	margin-top: 30px;
	margin-bottom: 30px;
}
[class*="vc_col-sm-"] .post_content,
[class*="vc_col-sm-"] .post_content a.post_image img
{
	float: none;
	width: 100%;
}
[class*="vc_col-sm-"] .post_content
{
	padding-left: 110px;
}
.vc_col-sm-8+.vc_col-sm-4 .post,
.vc_col-sm-4 .post,
.vc_col-sm-3 .post
{
	margin-bottom: 23px;
	margin-top: 23px;
}
.vc_col-sm-8+.vc_col-sm-4 .comment_box,
.vc_col-sm-4 .comment_box,
.vc_col-sm-3 .comment_box,
.vc_col-sm-8+.vc_col-sm-4 .post_content,
.vc_col-sm-4 .post_content,
.vc_col-sm-3 .post_content,
.vc_col-sm-8+.vc_col-sm-4 .post_content a.post_image img,
.vc_col-sm-4 .post_content a.post_image img,
.vc_col-sm-3 .post_content a.post_image img
{
	width: 100%;
}
.vc_col-sm-8+.vc_col-sm-4 .comment_box,
.vc_col-sm-4 .comment_box,
.vc_col-sm-3 .comment_box
{
	margin-right: 0;
}
.vc_col-sm-8+.vc_col-sm-4 .comment_box .first_row,
.vc_col-sm-4 .comment_box .first_row,
.vc_col-sm-3 .comment_box .first_row
{
	float: left;
	padding: 8px 10px;
	font-size: 11px;
}
.vc_col-sm-8+.vc_col-sm-4 .comment_box .second_row,
.vc_col-sm-4 .comment_box .second_row,
.vc_col-sm-3 .comment_box .second_row
{
	display: inline;
	margin-top: 0;
	margin-left: 2px;
	font-size: 11px;
}
.vc_col-sm-8+.vc_col-sm-4 .comment_box .comments_number,
.vc_col-sm-4 .comment_box .comments_number,
.vc_col-sm-3 .comment_box .comments_number
{
	float: right;
	padding: 9px 0 6px;
}
.vc_col-sm-8+.vc_col-sm-4 .post_content,
.vc_col-sm-4 .post_content,
.vc_col-sm-3 .post_content
{
	float: left;
	margin-top: 20px;
	padding-left: 0;
}
.vc_col-sm-8+.vc_col-sm-4 .post_content .categories,
.vc_col-sm-4 .post_content .categories,
.vc_col-sm-3 .post_content .categories
{
	width: 236px;
	float: left;
}
/* --- vc forms --- */
.vc_row-fluid .vc_col-sm-12 .comment_form,
.vc_row-fluid .vc_col-sm-12 .contact_form,
.vc_row-fluid .vc_col-sm-10 .comment_form,
.vc_row-fluid .vc_col-sm-10 .contact_form,
.vc_row-fluid .vc_col-sm-9 .comment_form,
.vc_row-fluid .vc_col-sm-9 .contact_form,
.vc_row-fluid .vc_col-sm-8 .comment_form,
.vc_row-fluid .vc_col-sm-8 .contact_form
{
	margin-top: 23px;
}
.vc_row-fluid .vc_col-sm-12 .contact_form .left,
.vc_row-fluid .vc_col-sm-12 .contact_form .right,
.vc_row-fluid .vc_col-sm-10 .contact_form .left,
.vc_row-fluid .vc_col-sm-10 .contact_form .right,
.vc_row-fluid .vc_col-sm-9 .contact_form .left,
.vc_row-fluid .vc_col-sm-9 .contact_form .right,
.vc_row-fluid .vc_col-sm-8 .contact_form .left,
.vc_row-fluid .vc_col-sm-8 .contact_form .right
{
	width: 217px;
}
.vc_row-fluid .vc_col-sm-12 .comment_form .text_input:first-child,
.vc_row-fluid .vc_col-sm-12 .contact_form .block:first-child,
.vc_row-fluid .vc_col-sm-10 .comment_form .text_input:first-child,
.vc_row-fluid .vc_col-sm-10 .contact_form .block:first-child,
.vc_row-fluid .vc_col-sm-9 .comment_form .text_input:first-child,
.vc_row-fluid .vc_col-sm-9 .contact_form .block:first-child,
.vc_row-fluid .vc_col-sm-8 .comment_form .text_input:first-child,
.vc_row-fluid .vc_col-sm-8 .contact_form .block:first-child
{
	margin-top: 0;
}
.vc_row-fluid .vc_col-sm-12 .contact_form .text_input,
.vc_row-fluid .vc_col-sm-12 .contact_form textarea,
.vc_row-fluid .vc_col-sm-10 .contact_form .text_input,
.vc_row-fluid .vc_col-sm-10 .contact_form textarea,
.vc_row-fluid .vc_col-sm-9 .contact_form .text_input,
.vc_row-fluid .vc_col-sm-9 .contact_form textarea,
.vc_row-fluid .vc_col-sm-8 .contact_form .text_input,
.vc_row-fluid .vc_col-sm-8 .contact_form textarea,
.vc_row-fluid .vc_col-sm-6 .contact_form .text_input,
.vc_row-fluid .vc_col-sm-6 .contact_form textarea
{
	width: 227px;
}
.vc_row-fluid .vc_col-sm-4 .comment_form,
.vc_row-fluid .vc_col-sm-4 .contact_form
{
	margin-top: 23px;
}
.vc_row-fluid .vc_col-sm-4 .contact_form .left,
.vc_row-fluid .vc_col-sm-4 .contact_form .right
{
	width: 300px;
}
.vc_row-fluid .vc_col-sm-4 .comment_form .right,
.vc_row-fluid .vc_col-sm-4 .contact_form .right
{
	margin-top: 10px;
	margin-left: 0;
}
.vc_row-fluid .vc_col-sm-4 .contact_form .text_input,
.vc_row-fluid .vc_col-sm-4 .contact_form textarea
{
	width: 300px;
}
.vc_row-fluid .vc_col-sm-3 .contact_form .left,
.vc_row-fluid .vc_col-sm-3 .contact_form .right
{
	width: 217px;
	margin-top: 10px;
	margin-left: 0;
}
.vc_row-fluid .vc_col-sm-3 .contact_form .text_input,
.vc_row-fluid .vc_col-sm-3 .contact_form textarea
{
	width: 217px;
}
/* --- vc columns --- */
.vc_col-sm-10 .column_left {
	margin-right: 23px;
}
/* --- vc image gallery --- */
.flex-direction-nav a.flex-next,
.flex-direction-nav a.flex-prev
{
	border: none;
}
/* --- vc image carousel --- */
.vc-carousel .vc-carousel-inner 
{
	margin-bottom: 25px !important;
}
.vc-carousel-control .icon-next:before,
.vc-carousel-control .icon-prev:before
{
	content: '' !important;
}
.vc-carousel .vc-inner a
{
	border: none;
}
.vc-carousel-control.vc-right,
.vc-carousel-control.vc-left
{
	border: none;
}
.vc-carousel-control .icon-next 
{
	background: url(images/bg_direction_nav.png) no-repeat 0 0;
	background-position: 100% 0;
}
.vc-carousel-control .icon-prev 
{
	background: url(images/bg_direction_nav.png) no-repeat 0 0;
}
.vc-carousel-indicators 
{
	bottom: -30px !important;
}
/* --- vc carousel --- */
.vc-carousel .link_title, 
.vc-carousel .link_image
{
	border: none;
}
/* --- vc contact info --- */
[class*="vc_col-sm-"] .contact_details
{
	clear: both;
}
[class*="vc_col-sm-"] .contact_details_about
{
	width: 240px;
}
.vc_row-fluid .vc_col-sm-12 .contact_details_about,
.vc_row-fluid .vc_col-sm-10 .contact_details_about,
.vc_row-fluid .vc_col-sm-9 .contact_details_about,
.vc_row-fluid .vc_col-sm-8 .contact_details_about
{
	padding: 20px;
}
.vc_row-fluid .vc_col-sm-6 .contact_details_about
{
	padding: 20px 10px 20px 15px;
	width: 225px;
}
.vc_row-fluid .vc_col-sm-4 .page_margin_top
{
	margin-top: 23px;
}
.vc_row-fluid .vc_col-sm-4 .contact_details_about
{
	padding: 20px;
	width: 300px;
}
.vc_row-fluid .vc_col-sm-4 .contact_details_map
{
	width: 300px;
}
.vc_row-fluid .vc_col-sm-3 .contact_details_about
{
	padding: 10px;
	width: 240px;
}
.vc_row-fluid .vc_col-sm-3 .contact_details_map
{
	width: 240px;
}
/* --- vc widgets --- */
.vc_row-fluid .sidebar_box
{
	width: 100%;
}
.vc_row-fluid .vc_col-sm-8 + .vc_col-sm-4 .sidebar_box .header_left,
.vc_row-fluid .vc_col-sm-8 + .vc_col-sm-4 .footer_box .header_left
{
	width: 180px;
}
.vc_row-fluid .vc_col-sm-4 .sidebar_box .header_left,
.vc_row-fluid .vc_col-sm-4 .footer_box .header_left
{
	width: 165px;
}
/* --- vc widget archive --- */
[class*="vc_col-sm-"] .widget_archive li:last-child
{
	margin-bottom: 5px;
}
/* --- vc widget homebox --- */
.vc_row-fluid div[class*="vc_col-sm-"] .home_box
{
	width: 100%;
	height: auto;
}
/* --- vc widget accordion --- */
.vc_row-fluid div[class*="vc_col-sm-"] .accordion,
.vc_row-fluid .vc_col-sm-12 .accordion .ui-accordion-content .item_footer,
.vc_row-fluid .vc_col-sm-10 .accordion .ui-accordion-content .item_footer,
.vc_row-fluid .vc_col-sm-9 .accordion .ui-accordion-content .item_footer,
.vc_row-fluid .vc_col-sm-8 .accordion .ui-accordion-content .item_footer
{
	margin: 0;
}
/* --- vc widget homebox --- */
.vc_col-sm-4 .home_box .header_left {
	width: 178px;
}
.vc_col-sm-3 .home_box .header_left,
.vc_col-sm-3 .home_box .header_right {
	float: none;
}
.vc_col-sm-3 .home_box .header_right {
	margin: 5px auto 0 auto;
}
.vc_col-sm-3 .home_box .news .text {
	width: auto;
	float: none;
}
/* --- vc widget twitter --- */
.vc_col-sm-3 .sidebar_box .header_left
{
	width: 150px;
}
/* --- columns widths - full width --- */
.vc_responsive .vc_row-fluid .vc_col-sm-6
{
	width: 465px;
}
.vc_responsive .vc_row-fluid .vc_col-sm-8
{
	width: 610px;
}
/* Fix for right sidebar that is 320px width */
.vc_responsive .vc_row-fluid .vc_col-sm-8 + .vc_col-sm-4
{
	width: 320px;
}
.vc_responsive .vc_row-fluid .vc_col-sm-4
{
	width: 300px;
}
.vc_responsive .vc_row-fluid .vc_col-sm-3
{
	width: 217px;
}
.vc_responsive .vc_row-fluid .vc_col-sm-9
{
	width: 713px;
}
.vc_responsive .vc_row-fluid .vc_col-sm-2
{
	width: 135px;
}
.vc_responsive .vc_row-fluid .vc_col-sm-10
{
	width: 795px;
}
.vc_responsive .vc_row-fluid .vc_col-sm-12
{
	width: 100%;
}
/* --- nested columns --- */
.vc_responsive .vc_col-sm-8 .vc_col-sm-6
{
	width: 290px;
}
.vc_responsive .vc_col-sm-8 .post_content .vc_col-sm-6,
.vc_responsive .vc_col-sm-8 .accordion.wide .vc_col-sm-6
{
	width: 235px;
}
.gallery_item_details_list .details_box .vc_col-sm-6
{
	width: 210px;
}

