@media screen and (max-width:979px)
{
	/* --- headers --- */
	h1
	{
		font-size: 40px;
	}
	h2
	{
		font-size: 22px;
	}
	h3
	{
		font-size: 16px;
	}
	.sentence
	{
		margin-top: 21px;
	}
	/* --- header --- */
	.header
	{
		width: 750px;
	}
	.header_left
	{
		width: 185px;
	}
	.box_header.margin
	{
		margin-top: 21px;
	}
	/* --- menu --- */
	.sf-menu li
	{
		margin-left: 23px;
	}
	/* --- page --- */
	.theme_page
	{
		width: 750px;
	}
	.page_left
	{
		width: 475px;
	}
	.page_right
	{
		width: 250px;
	}
	.page_margin_top
	{
		margin-top: 23px;
	}
	.top_hint
	{
		margin-top: -115px;
	}
	/* --- page header --- */
	.page_header_left
	{
		width: 460px;
	}
	/* --- footer --- */
	.footer
	{
		width: 750px;
	}
	/* --- slider --- */
	.slider li
	{
		height: 310px;
		background-size: auto 310px;
		-moz-background-size: auto 310px;
		-webkit-background-size: auto 310px;
		-o-background-size: auto 310px;
	}
	.slider_content_box
	{
		margin-top: -175px;
		min-height: 89px;
	}
	.controls.slider_navigation
	{
		margin-top: 50px;
	}
	/* --- home box --- */
	.home_box_container
	{
		margin-top: 30px;
	}
	.home_box_container .home_box
	{
		height: 218px;
	}
	.home_box
	{	
		width: 250px;
		padding: 20px 23px 23px;
	}
	.home_box .header_left
	{
		width: 142px;
	}
	.home_box .news .banner_icon
	{
		display: none;
	}
	.home_box .more
	{
		margin-top: 10px;
	}
	/* --- items list --- */
	.items_list li
	{
		padding: 10px 0 10px 25px;
		/*width: 204px;*/
	}
	/* --- scrolling list --- */
	.scrolling_list_wrapper
	{
		margin-top: 12px;
	}
	/* --- upcoming classes --- */
	.upcoming_classes_wrapper
	{
		margin-top: 12px;
	}
	/* --- blog --- */
	.comment_box
	{
		margin-right: 23px;
	}
	.post
	{
		margin-top: 23px;
		margin-bottom: 23px;
	}
	.post_content, .post_content a.post_image img
	{
		width: 372px;
	}
	.post_content a.post_image
	{
		margin-bottom: 23px;
	}
	.post_content h2
	{
		margin-bottom: 6px;
	}
	.post_footer
	{
		margin-top: 10px;
	}
	.show_all,
	.show_all.page_margin_top
	{
		margin-top: 23px;
	}
	/* --- comments --- */
	#comments_list li.comment
	{
		width: 372px;
	}
	#comments_list li.comment, #comments_list .children
	{
		margin-top: 25px;
	}
	#comments_list .comment_details
	{
		width: 272px;
	}
	#comments_list .comment_details p
	{
		padding: 15px 0;
	}
	#comments_list .children li.comment
	{
		width: 332px;
	}
	#comments_list .children .comment_details
	{
		width: 232px;
	}
	/* --- comment form --- */
	.comment_form_container
	{
		margin-left: 103px;
	}
	.comment_form, .contact_form
	{
		margin-top: 23px;
	}
	.comment_form .left, .comment_form .right
	{
		width: 181px;
	}
	.contact_form .left
	{
		width: 170px;
	}
	.contact_form .right
	{
		width: 171px;
	}
	.comment_form .text_input, .comment_form textarea
	{
		width: 181px;
	}
	.contact_form .text_input
	{
		width: 170px;
	}
	.contact_form textarea
	{
		width: 171px;
	}
	/* --- sidebar box --- */
	.sidebar_box
	{
		width: 250px;
	}
	.sidebar_box .header_left, .footer_box .header_left
	{
		width: 188px;
	}
	/* --- training classes --- */
	.accordion.wide .about_img
	{
		width: 372px;
		margin-bottom: 19px;
	}
	.accordion.wide .ui-accordion-content
	{
		padding: 23px 0;
	}
	.accordion.wide .full-width .column_left,
	.accordion.wide .full-width .column_right
	{
		width: 226px;
	}
	/* --- tabs --- */
	.ui-tabs-panel
	{
		width: 372px;
	}
	.ui-tabs-panel p
	{
		padding: 20px 0 21px;
	}
	/* --- columns --- */
	.column_left, .column_right
	{
		width: 174px;
	}
	.column_left
	{
		margin-right: 23px;
	}
	.columns p
	{
		padding: 21px 0;
	}
	.columns.full_width .column_left
	{
		width: 351px;
	}
	.columns.full_width .column_right
	{
		width: 376px;
	}
	/* --- list --- */
	.list
	{
		padding: 21px 0;
	}
	/* --- pricing plan ---*/
	.pricing_plan li
	{
		/*width: 174px;*/
		padding-left: 18px;
	}
	/* --- timetable --- */
	.timetable
	{
		margin-top: 23px;
	}
	.timetable th, .timetable td
	{
		padding: 7px;
	}
	/* --- isotope gallery --- */
	.theme_gallery
	{
		width: 720px;
	}
	.gallery_box
	{
		margin-top: 23px;
	}
	.gallery_item_details_list .image_box
	{
		width: 375px;
		margin-right: 23px;
	}
	.gallery_item_details_list .details_box
	{
		width: 352px;
	}
	.gallery_item_details_list .image_box img
	{
		width: 375px;
	}
	.gallery_item_details_list .details_box .column_left,
	.gallery_item_details_list .details_box .column_right
	{
		width: 164px;
	}
	.gallery_item_details_list .details_box .subheader
	{
		margin-bottom: 10px;
	}
	/* --- contact details --- */
	.contact_details_about
	{
		height: 220px;
		padding: 10px;
		width: 188px;		
	}
	.contact_details_map
	{
		width: 188px;
		height: 220px;
	}
	/* --- footer banner box --- */
	.footer_banner_box
	{
		width: 250px;
		padding: 20px 23px;
	}
	.footer_banner_box .content
	{
		width: 134px;
	}
	/* --- footer box --- */
	.footer_box_container
	{
		margin-top: 23px;
	}
	.footer_box
	{
		float: left;
		width: 227px;
		margin-left: 23px;
	}
	.footer_box.scrolling_recent_posts_widget
	{
		width: 250px;
	}
	/* --- footer contact info --- */
	.footer_contact_info_left
	{
		width: 87px;
	}
	/* --- footer_social_icons --- */
	.footer_social_icons
	{
		margin-top: 23px;
	}
	/* --- opening hours --- */
	.opening_hours li
	{
		width: 232px;
	}
	/* --- widgets --- */
	.classes_widget .box_header
	{
		margin-bottom: 23px;
	}
	.widget_categories .box_header
	{
		margin-top: 21px;
	}
	.widget_categories ul
	{
		margin-top: 23px;
	}
	/* --- visual composer --- */
	.vc_responsive .vc_row-fluid [class*="vc_col-sm-"]
	{
		margin-left: 25px;
	}
	.vc_row-fluid [class*="vc_col-sm-"]:first-child, .vc_row-fluid .vc-container-anchor+[class*="vc_col-sm-"] {
		margin-left: 0;
	}
	.vc_responsive .vc_row-fluid .vc_col-sm-10
	{
		width: 621px;
	}
	.vc_responsive .vc_row-fluid .vc_col-sm-9
	{
		width: 557px;
	}
	.vc_responsive .vc_row-fluid .vc_col-sm-8
	{
		width: 475px;
	}
	.vc_responsive .vc_row-fluid .vc_col-sm-6
	{
		width: 362px;
	}
	.vc_responsive .vc_row-fluid .vc_col-sm-4
	{
		width: 233px;
	}
	.vc_responsive .vc_row-fluid .vc_col-sm-8 + .vc_col-sm-4
	{
		width: 250px;
	}
	.vc_responsive .vc_row-fluid .vc_col-sm-3
	{
		width: 168px;
	}
	.vc_responsive .vc_row-fluid .vc_col-sm-2
	{
		width: 104px;
	}
	.vc_responsive .vc_row-fluid .wpb_column.page_left
	{
		width: 475px;
	}
	.vc_responsive .vc_row-fluid .wpb_column.page_right
	{
		width: 250px;
	}
	/* --- vc classes --- */
	.vc_row-fluid div[class*="vc_col-sm-"] .classes-accordion .tabs-panel
	{
		margin-left: 103px;
	}
	.vc_row-fluid div.vc_col-sm-4 .classes-accordion .tabs-panel,
	.vc_row-fluid div.vc_col-sm-3 .classes-accordion .tabs-panel
	{
		margin-left: 0;
	}
	.vc_row-fluid div[class*="vc_col-sm-"] .classes-accordion .column_left
	{
		padding-right: 12px;
	}
	.vc_row-fluid div[class*="vc_col-sm-"] .classes-accordion .column_right
	{
		padding-left: 11px;
	}
	.vc_row-fluid div.vc_col-sm-6 .classes-accordion .ui-tabs-nav
	{
		margin-bottom: 21px;
		width: 100%;
	}
	.vc_row-fluid div.vc_col-sm-6 .classes-accordion .ui-tabs-nav li
	{
		float: left;
	}
	.vc_row-fluid div.vc_col-sm-6 .classes-accordion .tabs-panel
	{
		clear: both;
		margin: 0;
		width: 100%;
	}
	.vc_row-fluid div.vc_col-sm-6 .classes-accordion .column_left,
	.vc_row-fluid div.vc_col-sm-6 .classes-accordion .column_right
	{
		padding: 0;
		width: 100%;
	}
	.vc_row-fluid div.vc_col-sm-3 .classes-accordion .ui-tabs-nav li a
	{
		width: 70px;
	}
	/* --- vc timetable --- */
	.vc_row-fluid .vc_col-sm-10 .timetable
	{
		display: none;
	}
	.vc_row-fluid .vc_col-sm-10 .timetable.small
	{
		display: block;
	}
	.vc_row-fluid .vc_col-sm-10 .timetable.small .items_list li
	{
		width: 100%;
	}
	/* --- vc isotope gallery --- */
	.vc_row-fluid .vc_col-sm-12 .gallery_item_details_list .details_box_outer
	{
		padding-left: 23px;
	}
	.vc_row-fluid  .vc_col-sm-9 .gallery_item_details_list .image_box,
	.vc_row-fluid  .vc_col-sm-9 .gallery_item_details_list .details_box_outer
	{
		width: 100%;
	}
	.vc_row-fluid  .vc_col-sm-9 .gallery_item_details_list .details_box_outer
	{
		float: left;
		margin-top: 23px;
		padding-left: 0;
	}
	/* --- vc blog --- */
	[class*="vc_col-sm-"] .blog li.post
	{
		margin-bottom: 23px;
		margin-top: 23px;
	}
	.vc_col-sm-8 .post_content
	{
		padding-left: 103px;
	}
	.vc_col-sm-8 .post_content .categories
	{
		/*width: 290px;*/
		float: left;
	}
	.vc_col-sm-6 .comment_box,
	.vc_col-sm-6 .post_content
	.vc_col-sm-6 .post_content a.post_image img
	{
		width: 100%;
	}
	.vc_col-sm-6 .comment_box
	{
		margin-right: 0;
	}
	.vc_col-sm-6 .comment_box .first_row
	{
		float: left;
		padding: 8px 10px;
		font-size: 11px;
	}
	.vc_col-sm-6 .comment_box .second_row
	{
		display: inline;
		margin-top: 0;
		margin-left: 2px;
		font-size: 11px;
	}
	.vc_col-sm-6 .comment_box .comments_number
	{
		float: right;
		padding: 9px 0 6px;
	}
	.vc_col-sm-6 .post_content
	{
		float: left;
		margin-top: 20px;
		padding-left: 0;
	}
	.vc_col-sm-6 .post_content .categories
	{
		width: 236px;
		float: left;
	}
	/* --- vc contact form --- */
	.vc_row-fluid .vc_col-sm-6 .contact_form .text_input,
	.vc_row-fluid .vc_col-sm-6 .contact_form textarea
	{
		width: 176px;
	}
	/* --- vc contact info --- */
	.vc_row-fluid .vc_col-sm-12 .contact_details_about,
	.vc_row-fluid .vc_col-sm-10 .contact_details_about,
	.vc_row-fluid .vc_col-sm-9 .contact_details_about,
	.vc_row-fluid .vc_col-sm-8 .contact_details_about
	{
		height: 240px;
		width: 240px;
	}
	.vc_row-fluid .vc_col-sm-12 .contact_details_map,
	.vc_row-fluid .vc_col-sm-10 .contact_details_map,
	.vc_row-fluid .vc_col-sm-9 .contact_details_map,
	.vc_row-fluid .vc_col-sm-8 .contact_details_map
	{
		height: 240px;
		width: 240px;
	}
	.vc_row-fluid .vc_col-sm-6 .page_margin_top
	{
		margin-top: 23px;
	}
	.vc_row-fluid .vc_col-sm-6 .contact_details_about
	{
		height: 220px;
		padding: 10px;
		width: 181px;
	}
	.vc_row-fluid .vc_col-sm-6 .contact_details_map
	{
		width: 181px;
	}
	/* --- vc widget twitter --- */
	.vc_col-sm-3 .sidebar_box .header_left
	{
		width: 105px;
	}
	/* --- vc widget homebox --- */
	.vc_row-fluid div[class*="vc_col-sm-"] .home_box
	{
		height: 218px;
		height: auto;
	}
	.vc_row-fluid div[class*="vc_col-sm-"] .home_box .news .banner_icon
	{
		 display: block;
	}
	.vc_col-sm-8+.vc_col-sm-4 .home_box .header_left {
		width: 140px
	}
	.vc_col-sm-4 .home_box .header_left {
		width: 125px
	}
	/* --- vc widget upcoming classes --- */
	.vc_col-sm-3 .widget .accordion .text {
		margin-left: 0;
	}
	/* --- nested columns --- */
	.vc_responsive .vc_row .vc_col-sm-8 .vc_col-sm-6
	{
		width: 225px;
	}
	.vc_responsive .vc_col-sm-8 .post_content .vc_col-sm-6,
	.vc_responsive .vc_col-sm-8 .accordion.wide .vc_col-sm-6
	{
		width: 173px;
	}
	.gallery_item_details_list .details_box .vc_col-sm-6
	{
		width: 163px;
	}
}
@media screen and (max-width:767px)
{
	/* --- headers --- */
	h1
	{
		font-size: 32px;
	}
	/* --- header --- */
	.header
	{
		width: 480px;
	}
	.box_header.margin
	{
		margin-top: 0;
	}
	.header_top_right_sidebar
	{
		margin-right: 55px;
	}
	/* --- menu --- */
	.sf-menu
	{
		display: none;
	}
	.mobile_menu
	{
		width: 100%;
	}
	.mobile_menu_container
	{
		display: block;
		margin: 0 auto;
		padding: 17px 0 13px;
	}
	.mobile-menu-switch
	{
		display: block;
	}
	.mobile-menu-divider
	{
		clear: both;
		float: left;
		width: 100%;
		margin-top: 10px;
	}
	.menu-item-has-children
	{
		position: relative;
	}
	.mobile_menu.collapsible-mobile-submenus .menu-item-has-children a.template-arrow-menu
	{
		position: absolute;
		width: 38px;
		height: 38px;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
		background: url('../images/icon_menu_arrow_down.png') no-repeat center center;
	}
	.mobile_menu.collapsible-mobile-submenus .menu-item-has-children.current-menu-ancestor a.template-arrow-menu,
	.mobile_menu.collapsible-mobile-submenus .menu-item-has-children.current-menu-parent a.template-arrow-menu,
	.mobile_menu.collapsible-mobile-submenus .menu-item-has-children.current-menu-item a.template-arrow-menu
	{
		background-image: url('../images/icon_accordion_arrow_down.png');
	}
	.mobile_menu.collapsible-mobile-submenus .menu-item-has-children a.template-arrow-menu.template-arrow-expanded
	{
		background-image: url('../images/icon_menu_arrow_up.png');
	}
	.mobile_menu.collapsible-mobile-submenus .menu-item-has-children.current-menu-ancestor a.template-arrow-menu.template-arrow-expanded,
	.mobile_menu.collapsible-mobile-submenus .menu-item-has-children.current-menu-parent a.template-arrow-menu.template-arrow-expanded,
	.mobile_menu.collapsible-mobile-submenus .menu-item-has-children.current-menu-item a.template-arrow-menu.template-arrow-expanded
	{
		background-image: url('../images/icon_accordion_arrow_up.png');
	}
	.menu-item-has-children a.template-arrow-menu:hover
	{
		text-decoration: none;
	}
	.collapsible-mobile-submenus .menu-item-has-children ul
	{
		display: none;
	}
	.collapsible-mobile-submenus .menu-item-has-children .menu-item-has-children ul
	{
		display: block;
	}
	/* --- page --- */
	.theme_page, .page_left, .page_right
	{
		width: 480px;
	}
	.page_right
	{
		margin-top: 50px;
	}
	/* --- page header --- */
	.page_header_left
	{
		width: auto;
	}
	.page_header_right
	{
		float: left;
		clear: both;
		margin-top: 14px;
	}
	.top_hint
	{
		margin-top: -85px;
	}
	/* --- footer --- */
	.footer
	{
		width: 480px;
		height: auto;
	}
	/* --- slider --- */
	.slider li
	{
		height: 243px;
		background-size: auto 243px;
		-moz-background-size: auto 243px;
		-webkit-background-size: auto 243px;
		-o-background-size: auto 243px;
	}
	.slider_content_box
	{
		margin-top: -138px;
		min-height: 80px;
	}
	.controls.slider_navigation
	{
		margin-top: 40px;
	}
	/* --- home box --- */
	.home_box_container .home_box
	{
		height: auto;
	}
	.home_box
	{
		width: 480px;
	}
	.home_box .header_left
	{
		width: 372px;
	}
	.home_box .news .banner_icon
	{
		display: block;
	}
	/* --- items list --- */
	.items_list li
	{
		/*width: 434px;*/
	}
	/* --- upcoming classes --- */
	.upcoming_classes_wrapper
	{
		height: 108px;
		margin-top: 8px;
	}
	/* --- blog --- */
	.post_content, .post_content a.post_image img
	{
		width: 377px;
	}
	/* --- comments --- */
	#comments_list li.comment
	{
		width: 377px;
	}
	#comments_list .comment_details
	{
		width: 277px;
	}
	#comments_list .children li.comment
	{
		width: 337px;
	}
	#comments_list .children .comment_details
	{
		width: 237px;
	}
	/* --- comment form --- */
	.comment_form .left
	{
		width: 183px;
	}
	.comment_form .right
	{
		width: 184px;
	}
	.comment_form .text_input 
	{
		width: 183px;
	}
	.comment_form textarea
	{
		width: 184px;
	}
	.contact_form .left, .contact_form .right
	{
		width: 235px;
	}
	.contact_form .text_input, .contact_form textarea
	{
		width: 235px;
	}
	/* --- sidebar_box --- */
	.sidebar_box
	{
		width: 480px;
	}
	.sidebar_box .header_left
	{
		width: 418px;
	}
	/* --- training classes --- */
	.accordion.wide .about_img
	{
		width: 377px;
	}
	/* --- tabs --- */
	.ui-tabs-panel
	{
		width: 377px;
	}
	/* --- columns --- */
	.column_left, .column_right
	{
		width: 177px;
	}
	.columns.full_width .column_left, .columns.full_width .column_right
	{
		width: 480px;
		margin-right: 0;
	}
	.columns.full_width .column_right
	{
		margin-top: 23px;
	}
	/* --- pricing plan ---*/
	.pricing_plan li
	{
		/*width: 177px;*/
	}
	/* --- timetable --- */
	.timetable
	{
		display: none;
	}
	.timetable.small
	{
		display: block;
	}
	/* --- isotope gallery --- */
	.theme_gallery, 
	.gallery_item_details_list .image_box, 
	.gallery_item_details_list .image_box img, 
	.gallery_item_details_list .details_box
	{
		width: 480px;
	}
	.gallery_item_details_list .details_box
	{
		margin-top: 23px;
	}
	.gallery_item_details_list .details_box .column_left,
	.gallery_item_details_list .details_box .column_right
	{
		width: 164px;
	}
	/* --- contact details --- */
	.contact_details_about,
	.contact_details_map
	{
		width: 240px;
		height: 240px;
	}
	.contact_details_about
	{
		padding: 20px;
	}
	/* --- footer banner box --- */
	.footer_banner_box
	{
		width: 480px;
	}
	.footer_banner_box .content
	{
		width: 364px;
	}
	/* --- footer box --- */
	.footer_box
	{
		width: 480px;
		margin-left: 0;
		margin-top: 23px;
	}
	.footer_box:first-child
	{
		margin-top: 0;
	}
	.footer_box.scrolling_recent_posts_widget
	{
		width: 480px;
	}
	.footer_box .header_left
	{
		width: 418px;
	}
	/* --- footer contact info --- */
	.footer_contact_info_container
	{
		padding-top: 23px;
	}
	.footer_contact_info_left
	{
		width: 260px;
	}
	.footer_contact_info_right
	{
		width: 200px;
	}
	/* --- opening hours --- */
	.opening_hours
	{
		margin-top: 12px;
	}
	.opening_hours li
	{
		width: 480px;
	}
	/* --- widgets --- */
	.widget_categories .box_header
	{
		margin-top: 0;
	}	
	/* --- visual composer --- */
	.vc_responsive .vc_row-fluid div[class*="vc_col-sm-"],
	.vc_responsive .vc_row-fluid .vc_col-sm-8 + .vc_col-sm-4
	{
		clear: both;
		margin-left: 0;
		width: 100%;
	}
	.vc_responsive .vc_row-fluid .vc_col-sm-8 + .vc_col-sm-4,
	.vc_responsive .vc_row-fluid .vc_col-sm-3 + .vc_col-sm-9
	{
		margin-top: 50px;
	}
	/* --- vc classes --- */
	.vc_row-fluid div[class*="vc_col-sm-"] .classes-accordion
	{
		width: 100%;
	}
	.vc_row-fluid div[class*="vc_col-sm-"] .classes-accordion .ui-tabs-nav,
	.vc_row-fluid div.vc_col-sm-8+div.vc_col-sm-4 .classes-accordion .ui-tabs-nav,
	.vc_row-fluid div.vc_col-sm-4 .classes-accordion .ui-tabs-nav,
	.vc_row-fluid div.vc_col-sm-3 .classes-accordion .ui-tabs-nav
	{
		float: left;
		width: 80px;
	}
	.vc_row-fluid div[class*="vc_col-sm-"] .classes-accordion .tabs-panel,
	.vc_row-fluid div.vc_col-sm-8+div.vc_col-sm-4 .classes-accordion .tabs-panel,
	.vc_row-fluid div.vc_col-sm-4 .classes-accordion .tabs-panel,
	.vc_row-fluid div.vc_col-sm-3 .classes-accordion .tabs-panel
	{
		clear: none;
		float: none;
		margin-left: 103px;
		width: auto;
	}	
	.vc_row-fluid div[class*="vc_col-sm-"] .classes-accordion.full-width .tabs-panel,
	.vc_row-fluid div.vc_col-sm-8+div.vc_col-sm-4 .classes-accordion.full-width .tabs-panel
	{
		margin: 0;
	}
	.vc_row-fluid div[class*="vc_col-sm-"] .classes-accordion .tabs-panel>ul
	{
		padding: 0;
	}
	.vc_row-fluid div[class*="vc_col-sm-"] .classes-accordion .about_img
	{
		width: 100%;
	}
	.vc_row-fluid div[class*="vc_col-sm-"] .classes-accordion.full-width .tabs-panel
	{
		width: 100%;
	}
	.vc_row-fluid div.vc_col-sm-8+div.vc_col-sm-4 .classes-accordion .column_left,
	.vc_row-fluid div.vc_col-sm-8+div.vc_col-sm-4 .classes-accordion .column_right,
	.vc_row-fluid div[class*="vc_col-sm-"] .classes-accordion .column_left,
	.vc_row-fluid div[class*="vc_col-sm-"] .classes-accordion .column_right
	{
		width: 50%;
		margin: 0;
	}
	.vc_row-fluid div[class*="vc_col-sm-"] .classes-accordion .column_left,
	.vc_row-fluid div.vc_col-sm-8+div.vc_col-sm-4 .classes-accordion .column_left
	{
		padding-right: 12px;
	}
	.vc_row-fluid div[class*="vc_col-sm-"] .classes-accordion .column_right,
	.vc_row-fluid div.vc_col-sm-8+div.vc_col-sm-4 .classes-accordion .column_right
	{
		padding-left: 11px;
	}
	.vc_row-fluid div[class*="vc_col-sm-"] .classes-accordion .items_list li
	{
		width: 100%;
	}
	/* --- vc timetable --- */	
	.vc_row-fluid .vc_col-sm-12 .timetable.small .items_list li
	{
		width: 100%;
	}
	/* --- vc isotope gallery --- */
	.vc_row-fluid [class*="vc_col-sm-"] .gallery_item_details_list .image_box,
	.vc_row-fluid [class*="vc_col-sm-"] .gallery_item_details_list .details_box_outer
	{
		width: 100%;
	}
	.vc_row-fluid [class*="vc_col-sm-"] .gallery_item_details_list .details_box_outer
	{
		float: left;
		padding-left: 0;
	}
	.vc_row-fluid [class*="vc_col-sm-"] .gallery_item_details_list .column_left,
	.vc_row-fluid [class*="vc_col-sm-"] .gallery_item_details_list .column_right,
	.vc_row-fluid .vc_col-sm-8+.vc_col-sm-4 .gallery_item_details_list .column_left,
	.vc_row-fluid .vc_col-sm-8+.vc_col-sm-4 .gallery_item_details_list .column_right
	{
		width: 50%;
	}
	.vc_row-fluid [class*="vc_col-sm-"] .gallery_item_details_list .column_left,
	.vc_row-fluid .vc_col-sm-8+.vc_col-sm-4 .gallery_item_details_list .column_left
	{
		margin-right: 0;
		padding-right: 15px;
	}
	.vc_row-fluid [class*="vc_col-sm-"] .gallery_item_details_list .column_right,
	.vc_row-fluid .vc_col-sm-8+.vc_col-sm-4 .gallery_item_details_list .column_right
	{
		padding-left: 15px;
	}
	/* --- vc blog --- */
	[class*="vc_col-sm-"] .post_content,
	.vc_col-sm-8+.vc_col-sm-4 .post_content,
	[class*="vc_col-sm-"] .post_content a.post_image img
	.vc_col-sm-8+.vc_col-sm-4 .post_content a.post_image img
	{
		float: none;
		width: 100%;
	}
	[class*="vc_col-sm-"] .post_content,
	.vc_col-sm-8+.vc_col-sm-4 .post_content
	{
		margin-top: 0;
		padding-left: 103px;		
	}
	[class*="vc_col-sm-"] .comment_box,
	.vc_col-sm-8+.vc_col-sm-4 .comment_box
	{
		width: 80px;
		margin-right: 0;
	}
	[class*="vc_col-sm-"] .comment_box .first_row,
	.vc_col-sm-8+.vc_col-sm-4 .comment_box .first_row
	{
		padding: 22px 0 21px;
		font-size: 22px;
		float: left;
		text-align: center;
		width: 100%;
	}
	[class*="vc_col-sm-"] .comment_box .second_row,
	.vc_col-sm-8+.vc_col-sm-4 .comment_box .second_row
	{
		display: block;
		margin-top: 4px;
		font-size: 12px;
	}
	[class*="vc_col-sm-"] .comment_box .comments_number,
	.vc_col-sm-8+.vc_col-sm-4 .comment_box .comments_number
	{
		display: block;
		text-align: center;
		font-size: 11px;
		float: right;
		border-bottom: 1px solid #515151;
		padding: 8px 0 9px;
		color: #FFF;
		width: 100%;
	}
	/* --- vc contact form --- */
	.vc_row-fluid .vc_col-sm-6 .comment_form,
	.vc_row-fluid .vc_col-sm-6 .contact_form,
	.vc_row-fluid .vc_col-sm-4 .comment_form,
	.vc_row-fluid .vc_col-sm-4 .contact_form
	{
		margin-top: 23px;
	}
	.vc_row-fluid .vc_col-sm-6 .contact_form .left,
	.vc_row-fluid .vc_col-sm-6 .contact_form .right,
	.vc_row-fluid .vc_col-sm-4 .contact_form .left,
	.vc_row-fluid .vc_col-sm-4 .contact_form .right
	{
		width: 235px;
	}
	.vc_row-fluid .vc_col-sm-6 .comment_form .right,
	.vc_row-fluid .vc_col-sm-6 .contact_form .right,
	.vc_row-fluid .vc_col-sm-4 .comment_form .right,
	.vc_row-fluid .vc_col-sm-4 .contact_form .right
	{
		float: left;
		margin-top: 0;
		margin-left: 10px;
	}
	.vc_row-fluid .vc_col-sm-6 .comment_form .text_input:first-child,
	.vc_row-fluid .vc_col-sm-6 .contact_form .block:first-child,
	.vc_row-fluid .vc_col-sm-4 .comment_form .text_input:first-child,
	.vc_row-fluid .vc_col-sm-4 .contact_form .block:first-child
	{
		margin-top: 0;
	}
	.vc_row-fluid .vc_col-sm-6 .contact_form .text_input,
	.vc_row-fluid .vc_col-sm-6 .contact_form textarea,
	.vc_row-fluid .vc_col-sm-4 .contact_form .text_input,
	.vc_row-fluid .vc_col-sm-4 .contact_form textarea
	{
		width: 235px;
	}
	/* --- vc contact info --- */
	.vc_row-fluid .vc_col-sm-6 .contact_details_about,
	.vc_row-fluid .vc_col-sm-4 .contact_details_about
	{
		height: 240px;
		padding: 20px;
		width: 235px;
	}
	.vc_row-fluid .vc_col-sm-6 .contact_details_map,
	.vc_row-fluid .vc_col-sm-4 .contact_details_map
	{
		height: 240px;
		width: 240px;
	}
	/* --- vc widgets --- */
	.vc_row-fluid div[class*="vc_col-sm-"] .sidebar_box .header_left
	{
		width: 360px;
	}
	/* --- vc widget homebox --- */
	.vc_col-sm-3 .home_box .header_left {
		float: left;
	}
	.vc_col-sm-3 .home_box .header_right {
		float: right;
		margin: 0;
	}
	/* --- vc widget upcoming classes --- */
	.vc_col-sm-3 .widget .accordion .text {
		margin-left: 100px;
	}
	/* --- nested columns --- */
	.vc_responsive .vc_row .vc_col-sm-8 .vc_col-sm-6,
	.vc_responsive .vc_col-sm-8 .post_content .vc_col-sm-6,
	.vc_responsive .vc_col-sm-8 .accordion.wide .vc_col-sm-6,
	.theme_page .gallery_item_details_list .details_box .vc_col-sm-6
	{
		clear: none;
		margin-left: 25px;
	}
	.vc_responsive .vc_row .vc_col-sm-8 .vc_col-sm-6:first-child,
	.vc_responsive .vc_col-sm-8 .post_content .vc_col-sm-6:first-child,
	.vc_responsive .vc_col-sm-8 .accordion.wide .vc_col-sm-6:first-child,
	.theme_page .gallery_item_details_list .details_box .vc_col-sm-6:first-child
	{	
		margin-left: 0;
	}
	.vc_responsive .vc_row .vc_col-sm-8 .vc_col-sm-6,
	.theme_page .gallery_item_details_list .details_box .vc_col-sm-6
	{
		width: 227px;
	}
	.vc_responsive .vc_col-sm-8 .post_content .vc_col-sm-6,
	.vc_responsive .vc_col-sm-8 .accordion.wide .vc_col-sm-6
	{
		width: 176px;
	}
}
@media screen and (max-width:479px)
{
	/* --- header --- */
	h1
	{
		font-size: 24px;
	}
	h2
	{
		font-size: 18px;
	}
	h3
	{
		font-size: 14px;
	}
	/* --- header --- */
	.header
	{
		width: 300px;
	}
	/* --- page --- */
	.theme_page, .page_left, .page_right, .sidebar_box
	{
		width: 300px;
	}
	.top_hint
	{
		display: none;
	}
	/* --- footer --- */
	.footer
	{
		width: 300px;
	}
	/* --- slider --- */
	.caroufredsel_wrapper_slider
	{
		/*top: 117px !important;*/
	}
	.slider li
	{
		height: 202px;
		background-size: auto 202px;
		-moz-background-size: auto 202px;
		-webkit-background-size: auto 202px;
		-o-background-size: auto 202px;
	}
	.slider_content_box
	{
		margin-top: -137px;
		min-height: 71px;
	}
	.controls.slider_navigation
	{
		margin-top: 46px;
	}
	/* --- home box --- */
	.home_box
	{
		width: 300px;
	}
	.home_box .header_left
	{
		width: 192px;
	}
	/* --- items list --- */
	.items_list li
	{
		/*width: 254px;*/
	}
	/* --- upcoming classes --- */
	.upcoming_classes_wrapper
	{
		height: 114px;
		margin-top: 8px;
	}
	/* --- blog --- */
	.comment_box
	{
		margin-right: 0;
	}
	.comment_box .first_row
	{
		float: left;
		padding: 8px 10px;
		font-size: 11px;
	}
	.comment_box .second_row
	{
		display: inline;
		margin-top: 0;
		margin-left: 2px;
		font-size: 11px;
	}
	.comment_box .comments_number
	{
		float: right;
		padding: 9px 0 6px;
	}
	.comment_box, .post_content, .post_content a.post_image img
	{
		width: 300px;
	}
	.post_content
	{
		margin-top: 20px;
	}
	.categories
	{
		float: left;
		width: 236px;
	}
	.categories li
	{
		clear: both;
		margin-right: 0;
	}
	/* --- comments --- */
	#comments_list
	{
		margin-top: 23px;
	}
	#comments_list li.comment, #comments_list .comment_details
	{
		width: 300px;
	}
	#comments_list .comment_author_avatar
	{
		display: none;
	}
	#comments_list .children li.comment, #comments_list .children .comment_details
	{
		width: 260px;
	}
	/* --- comment form --- */
	.comment_form_container
	{
		margin-left: 0;
	}
	.comment_form .right, .contact_form .right
	{
		margin-top: 10px;
	}
	.comment_form .left, .comment_form .right
	{
		margin-left: 0;
		width: 300px;
	}
	.comment_form .text_input, .comment_form textarea
	{
		width: 300px;
	}
	.contact_form .left, .contact_form .right
	{
		margin-left: 0;
		width: 300px;
	}
	.contact_form .text_input, .contact_form textarea
	{
		width: 300px
	}
	/* --- training classes --- */
	.accordion .ui-accordion-content .text
	{
		width: 200px;
	}
	.accordion.wide .about_img
	{
		width: 300px;
	}
	.accordion.wide .full-width .column_left,
	.accordion.wide .full-width .column_right
	{
		width: 300px;
	}
	/* --- tabs --- */
	.ui-tabs-nav
	{
		width: 100%;
		margin-bottom: 21px;
	}
	.ui-tabs-nav li
	{
		float: left;
		margin-right: 2px;
		margin-top: 0;
	}
	.ui-tabs-nav li:last-child
	{
		margin-right: 0;
	}
	.ui-tabs-panel
	{
		width: 300px;
	}
	/* --- columns --- */
	.column_left, .column_right, .columns.full_width .column_left, .columns.full_width .column_right
	{
		width: 300px;
	}
	.column_left
	{
		margin-right: 0;
	}
	/* --- pricing plan ---*/
	.pricing_plan li
	{
		/*width: 300px;*/
	}
	/* --- sidebar box --- */
	.sidebar_box .header_left
	{
		width: 238px;
	}
	.sidebar_box .categories
	{
		width: auto;
	}
	.sidebar_box .categories li
	{
		float: left;
		clear: none;
		margin-right: 2px;
	}
	/* --- controls --- */
	.controls .more, .controls .prev, .controls .next, .controls .close
	{
		width: 25px;
		height: 25px;
	}
	.controls .more:hover, .controls .prev:hover, .controls .next:hover, .controls .close:hover
	{
		background-position: 0 -25px;
	}
	.controls .more
	{
		background-image: url('../images/mobile_navigation_more.png');
	}
	.controls .prev
	{
		background-image: url('../images/mobile_navigation_previous.png');
	}
	.controls .next
	{
		background-image: url('../images/mobile_navigation_next.png');
	}
	.controls .close
	{
		background-image: url('../images/mobile_navigation_close.png');
	}
	/* --- isotope gallery --- */
	.vc_row-fluid [class*="vc_col-sm-"] .theme_gallery,
	.theme_gallery
	{
		width: 240px;
	}
	.gallery_item_details_list .image_box, 
	.gallery_item_details_list .image_box img, 
	.gallery_item_details_list .details_box,
	.gallery_item_details_list .details_box .column_left,
	.gallery_item_details_list .details_box .column_right
	{
		width: 300px;
	}
	/* --- contact details --- */
	.contact_details_about
	{
		width: 300px;
	}
	.contact_details_map
	{
		width: 300px;
	}
	/* --- footer banner box --- */
	.footer_banner_box
	{
		width: 300px;
	}
	.footer_banner_box .content
	{
		width: 184px;
	}
	/* --- footer box --- */
	.footer_box
	{
		width: 300px;
	}
	.footer_box.scrolling_recent_posts_widget
	{
		width: 300px;
	}
	.footer_box .header_left
	{
		width: 238px;
	}
	/* --- footer contact info --- */
	.footer_contact_info_left
	{
		width: 155px;
	}
	.footer_contact_info_right
	{
		width: 125px;
	}
	/* --- opening hours --- */
	.opening_hours li
	{
		width: 300px;
	}
	/* --- widgets --- */
	.widget_archive li
	{
		width: 150px;
	}
	/* --- vc classes --- */
	.vc_row-fluid div[class*="vc_col-sm-"] .classes-accordion .ui-tabs-nav,
	.vc_row-fluid div.vc_col-sm-8+div.vc_col-sm-4 .classes-accordion .ui-tabs-nav,
	.vc_row-fluid div.vc_col-sm-4 .classes-accordion .ui-tabs-nav,
	.vc_row-fluid div.vc_col-sm-3 .classes-accordion .ui-tabs-nav
	{
		margin-bottom: 21px;
		width: 100%;
	}
	.vc_row-fluid div[class*="vc_col-sm-"] .classes-accordion .ui-tabs-nav li
	{
		float: left;
	}
	.vc_row-fluid div[class*="vc_col-sm-"] .classes-accordion .tabs-panel,
	.vc_row-fluid div.vc_col-sm-8+div.vc_col-sm-4 .classes-accordion .tabs-panel,
	.vc_row-fluid div.vc_col-sm-4 .classes-accordion .tabs-panel,
	.vc_row-fluid div.vc_col-sm-3 .classes-accordion .tabs-panel
	{
		clear: both;
		margin: 0;
		width: 100%;
	}
	.vc_row-fluid div[class*="vc_col-sm-"] .classes-accordion .column_left,
	.vc_row-fluid div[class*="vc_col-sm-"] .classes-accordion .column_right,
	.vc_row-fluid div.vc_col-sm-8+div.vc_col-sm-4 .classes-accordion .column_left,
	.vc_row-fluid div.vc_col-sm-8+div.vc_col-sm-4 .classes-accordion .column_right
	{
		padding: 0;
		width: 100%;
	}
	/* --- vc isotope gallery --- */
	.vc_row-fluid [class*="vc_col-sm-"] .gallery_item_details_list .column_left,
	.vc_row-fluid .vc_col-sm-8+.vc_col-sm-4 .gallery_item_details_list .column_left
	{
		width: 100%;
		margin-right: 0;
		padding-right: 0;
	}
	.vc_row-fluid [class*="vc_col-sm-"] .gallery_item_details_list .column_right,
	.vc_row-fluid .vc_col-sm-8+.vc_col-sm-4 .gallery_item_details_list .column_right
	{
		width: 100%;
		padding-left: 0;
	}
	/* --- vc blog --- */
	[class*="vc_col-sm-"] .post_content,
	.vc_col-sm-8+.vc_col-sm-4 .post_content
	{
		float: right;
		margin-top: 20px;
		margin-bottom: 23px;
		padding: 0;
	}	
	[class*="vc_col-sm-"] .comment_box,
	.vc_col-sm-8+.vc_col-sm-4 .comment_box,
	[class*="vc_col-sm-"] .post_content,
	.vc_col-sm-8+.vc_col-sm-4 .post_content,
	[class*="vc_col-sm-"] .post_content a.post_image img,
	.vc_col-sm-8+.vc_col-sm-4 .post_content a.post_image img
	{
		width: 100%;
	}
	[class*="vc_col-sm-"] .comment_box .first_row,
	.vc_col-sm-8+.vc_col-sm-4 .comment_box .first_row
	{
		float: left;
		padding: 8px 10px;
		font-size: 11px;
		width: auto;
	}
	[class*="vc_col-sm-"] .comment_box .second_row,
	.vc_col-sm-8+.vc_col-sm-4 .comment_box .second_row
	{
		display: inline;
		margin-top: 0;
		margin-left: 2px;
		font-size: 11px;
	}
	[class*="vc_col-sm-"] .comment_box .comments_number,
	.vc_col-sm-8+.vc_col-sm-4 .comment_box .comments_number
	{
		float: right;
		padding: 9px 0 6px;
		width: auto;
	}
	/* --- vc contact form --- */
	.vc_row-fluid div[class*="vc_col-sm-"] .comment_form,
	.vc_row-fluid div[class*="vc_col-sm-"] .contact_form
	{
		margin-top: 23px;
	}
	.vc_row-fluid div[class*="vc_col-sm-"] .contact_form .left,
	.vc_row-fluid div[class*="vc_col-sm-"] .contact_form .right
	{
		width: 300px;
	}
	.vc_row-fluid div[class*="vc_col-sm-"] .contact_form .text_input,
	.vc_row-fluid div[class*="vc_col-sm-"] .contact_form textarea
	{
		width: 300px;
	}
	.vc_row-fluid div[class*="vc_col-sm-"] .comment_form .right,
	.vc_row-fluid div[class*="vc_col-sm-"] .contact_form .right
	{
		margin-top: 10px;
		margin-left: 0;
	}
	/* --- vc contact info --- */
	.vc_row-fluid div[class*="vc_col-sm-"] .page_margin_top
	{
		margin-top: 23px;
	}
	.vc_row-fluid div[class*="vc_col-sm-"] .contact_details_about
	{
		padding: 20px;
		width: 300px;
	}
	.vc_row-fluid div[class*="vc_col-sm-"] .contact_details_map
	{
		width: 300px;
	}
	/* --- vc widgets --- */
	.vc_row-fluid div[class*="vc_col-sm-"] .sidebar_box .header_left
	{
		width: 180px;
	}
	/* --- vc accordion --- */
	.vc_row-fluid div[class*="vc_col-sm-"] .accordion .ui-accordion-content .text
	{ 
		width: 200px;
	}
	/* --- nested columns --- */
	.vc_responsive .vc_row .vc_col-sm-8 .vc_col-sm-6,
	.vc_responsive .vc_col-sm-8 .post_content .vc_col-sm-6,
	.vc_responsive .vc_col-sm-8 .accordion.wide .vc_col-sm-6,
	.theme_page .gallery_item_details_list .details_box .vc_col-sm-6
	{
		clear: both;
		width: 100%;
		margin-left: 0;
	}
}
@media screen and (max-device-width: 480px)
{
	body
	{
		-webkit-text-size-adjust: none;
	}
}
