@media screen and (max-width:979px)
{
	.woocommerce div.product div.summary
	{
		margin-bottom: 40px;
	}
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product,
	.woocommerce .related ul li.product, .woocommerce .related ul.products li.product, .woocommerce .upsells.products ul li.product, .woocommerce .upsells.products ul.products li.product, .woocommerce-page .related ul li.product, .woocommerce-page .related ul.products li.product, .woocommerce-page .upsells.products ul li.product, .woocommerce-page .upsells.products ul.products li.product
	{
		width: 222px;
	}
	.woocommerce .cart-collaterals .cross-sells ul.products li, .woocommerce-page .cart-collaterals .cross-sells ul.products li, .woocommerce-cart .cart-collaterals .cross-sells ul.products li.product
	{
		width: 165px;
	}
	.woocommerce ul.products li.product:nth-child(2n), .woocommerce-page ul.products li.product:nth-child(2n),
	.woocommerce .related ul li.product:nth-child(2n), .woocommerce .related ul.products li.product:nth-child(2n), .woocommerce .upsells.products ul li.product:nth-child(2n), .woocommerce .upsells.products ul.products li.product:nth-child(2n), .woocommerce-page .related ul li.product:nth-child(2n), .woocommerce-page .related ul.products li.product:nth-child(2n), .woocommerce-page .upsells.products ul li.product:nth-child(2n), .woocommerce-page .upsells.products ul.products li.product:nth-child(2n),
	.woocommerce .cart-collaterals .cross-sells ul.products li:nth-child(2n), .woocommerce-page .cart-collaterals .cross-sells ul.products li:nth-child(2n),
	.woocommerce .cart-collaterals .cross-sells ul.products li.last, .woocommerce-page .cart-collaterals .cross-sells ul.products li.last
	{
		margin-right: 0;
	}
	.woocommerce ul.products li.last, .woocommerce-page ul.products li.last, .woocommerce .related ul li.product.last, 
	.woocommerce .related ul li.last, .woocommerce .related ul.products li.last, .woocommerce .upsells.products ul li.last, .woocommerce .upsells.products ul.products li.last, .woocommerce-page .related ul li.last, .woocommerce-page .related ul.products li.last, .woocommerce-page .upsells.products ul li.last, .woocommerce-page .upsells.products ul.products li.last
	{
		margin-right: 30px;
	}
	.woocommerce ul.products li.first, .woocommerce-page ul.products li.first
	{
		clear: none;
	}
	.woocommerce .woocommerce-product-rating .star-rating
	{
		margin: 0 15px 0 0;
	}
/*	.woocommerce div.product form.cart .button
	{
		margin-top: 10px;
	}*/
	.woocommerce-cart .cart-collaterals .cart_totals table th
	{
		width: 40%;
	}
}
@media screen and (max-width:767px)
{
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product,
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product, .woocommerce .related ul li.product, .woocommerce .related ul.products li.product, .woocommerce .upsells.products ul li.product, .woocommerce .upsells.products ul.products li.product, .woocommerce-page .related ul li.product, .woocommerce-page .related ul.products li.product, .woocommerce-page .upsells.products ul li.product, .woocommerce-page .upsells.products ul.products li.product,
	.woocommerce .cart-collaterals .cross-sells ul.products li, .woocommerce-page .cart-collaterals .cross-sells ul.products li, .woocommerce-cart .cart-collaterals .cross-sells ul.products li.product
	{
		width: 225px;
	}
	.woocommerce div.product form.cart .button
	{
		margin-top: 0;
	}
	.woocommerce .shop_table.cart .quantity .plus, .woocommerce .shop_table.cart .quantity .minus
	{
		width: 37px;
	}
	.woocommerce .shop_table.cart .quantity .qty
	{
		width: 25px;
	}
	.woocommerce-checkout .woocommerce-shipping-fields,
	.woocommerce-checkout .woocommerce-column--shipping-address,
	.woocommerce-account .woocommerce-column--shipping-address,
	.woocommerce-account .addresses .col-2 .title h3,
	.woocommerce-checkout .addresses .col-2 .title h3
	{
		margin-top: 40px;
	}
	.woocommerce table.shop_table td.woocommerce-orders-table__cell-order-actions::before
	{
		content: none;
	}
	.woocommerce-cart-form .actions .button[type="submit"]
	{
		margin-top: 27px;
		margin-bottom: 15px;
	}
	.woocommerce-cart-form .actions .coupon .button[type="submit"]
	{
		margin: 0;
	}
}
@media screen and (max-width:479px)
{
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product,
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product, .woocommerce .related ul li.product, .woocommerce .related ul.products li.product, .woocommerce .upsells.products ul li.product, .woocommerce .upsells.products ul.products li.product, .woocommerce-page .related ul li.product, .woocommerce-page .related ul.products li.product, .woocommerce-page .upsells.products ul li.product, .woocommerce-page .upsells.products ul.products li.product,
	.woocommerce .cart-collaterals .cross-sells ul.products li, .woocommerce-page .cart-collaterals .cross-sells ul.products li, .woocommerce-cart .cart-collaterals .cross-sells ul.products li.product
	{
		width: 300px;
		margin-right: 0;
	}
	.woocommerce #review_form p.stars a
	{
		border: none;
	}
	.woocommerce table.shop_table th, .woocommerce table.shop_table td
	{
		padding: 5px;
	}
	.woocommerce .shop_table.cart .quantity .plus,
	.woocommerce .shop_table.cart .quantity .minus
	{
		display: none;
	}
	.woocommerce .shop_table.cart .quantity .qty
	{
		border-left: 1px solid #515151;
		border-right: 1px solid #515151;
	}
	.woocommerce .shop_table.cart td.product-quantity
	{
		text-align: center;
	}
	.woocommerce .order_details li
	{
		margin-top: 10px;
		margin-right: 10px;
	}
	.woocommerce .woocommerce-result-count, 
	.woocommerce-page .woocommerce-result-count 
	{
		float: left;
		margin-bottom: 10px;
		margin-top: 0;
	}
}