/* --- woocommerce --- */
.woocommerce-checkout #payment div.payment_box::before
{
	border-bottom-color: #303030;
}
.woocommerce-checkout #payment div.payment_box
{
	background-color: #303030;
}
.woocommerce table.my_account_orders
{
	font-size: 11px;
}
.woocommerce-account .addresses .title h3
{
	margin-top: 0;
}
.woocommerce table.shop_table tbody th,
.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th
{
	border-top-color: #515151;
}
li.payment_method_cod label
{
	color: #c5c5c5;
}
.woocommerce p
{
	color: #C5C5C5;
	line-height: 150%;
}
.widget.woocommerce ul,
.widget.woocommerce form
{
	float: left;
	clear: both;
	width: 100%;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle
{
	top: -3px;
}
.woocommerce input[type=number]::-webkit-inner-spin-button, 
.woocommerce input[type=number]::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.woocommerce #reviews #comments ol.commentlist
{
	padding: 0;
}
.woocommerce table.cart .product-thumbnail a,
div.pp_woocommerce .pp_next,
div.pp_woocommerce .pp_previous
{
	border: none;
}
.woocommerce-checkout #payment .payment_method_paypal .about_paypal
{
	line-height: 150%;
}
.woocommerce ul.products li.product h3,
.woocommerce ul.products li.product .woocommerce-loop-product__title
{
	font-size: 24px;
	line-height: 140%;
}
.woocommerce ul.products li.product h3:hover
{
	text-decoration: underline;
}
.woocommerce ul.products li.product a img
{
	opacity: 1;
	transition: opacity 0.4s ease-in-out 0s;
}
.woocommerce ul.products li.product a:hover img,
.woocommerce ul.cart_list li a:hover img, 
.woocommerce ul.product_list_widget li a:hover img
{
	opacity: 0.8;
	transition: opacity 0.4s ease-in-out 0s;
}
.woocommerce .product-categories
{
	list-style-type: none;
    margin: 30px 0 0;
	padding: 0;
}
.woocommerce .product-categories li
{
	float: left;
	margin-right: 2px;
	margin-bottom: 2px;
}
.woocommerce .product-categories li a
{	
	display: block;
	border: 1px solid #515151;
	color: #999; 
	font-family: 'Arial';
	font-size: 11px;
	font-weight: normal;
	padding: 8px 9px;
	text-align: left;
}
.woocommerce .product-categories li.current-cat a,
.woocommerce .product-categories li a:hover
{
	border-color: #59B42D;
	color: #fff;
}
.woocommerce-pagination .prev,
.woocommerce-pagination .next
{
	text-align: center;
}
.woocommerce nav.woocommerce-pagination
{
	text-align: left;
}
.woocommerce nav.woocommerce-pagination ul
{
	border: none;
	margin: 0;
}
.woocommerce .woocommerce-pagination ul.page-numbers
{
	clear: both;
}
.woocommerce .woocommerce-pagination ul.page-numbers li
{
	float: left;
	margin-left: 2px;
	border: none;
}
.woocommerce .woocommerce-pagination ul.page-numbers li:first-child
{
	margin-left: 0;
}
.woocommerce .woocommerce-pagination ul.page-numbers li.left,
.woocommerce .woocommerce-pagination ul.page-numbers li.right
{
	width: 29px;
}
.woocommerce .woocommerce-pagination ul.page-numbers li.left a,
.woocommerce .woocommerce-pagination ul.page-numbers li.right a
{
	background-repeat: no-repeat;
	background-position: 0 0;
}
.woocommerce .woocommerce-pagination ul.page-numbers li.left a
{
	background-image: url("images/icons/navigation/pagination_arrow_left.png");
}
.woocommerce .woocommerce-pagination ul.page-numbers  li.right a
{
	background-image: url("images/icons/navigation/pagination_arrow_right.png");
}
.woocommerce .woocommerce-pagination ul.page-numbers li.left a:hover,
.woocommerce .woocommerce-pagination ul.page-numbers li.right a:hover
{
	background-position: 0 -29px;
}
.woocommerce .woocommerce-pagination ul.page-numbers li a,
.woocommerce .woocommerce-pagination ul.page-numbers li span,
.woocommerce .woocommerce-pagination ul.page-numbers li a:focus
{
	display: block;
    color: #999;
    font-size: 11px;
    padding: 9px 11px 7px;
	background: transparent;
	border: 1px solid #515151;
	height: 30px;
	min-width: auto;
}
.woocommerce .woocommerce-pagination ul.page-numbers li a:hover,
.woocommerce .woocommerce-pagination ul.page-numbers li a.current,
.woocommerce .woocommerce-pagination ul.page-numbers li span.current
{
	border: 1px solid #59B42D;
	color: #fff;
	background-color: transparent;
}
.woocommerce div.product div.images .woocommerce-product-gallery__wrapper
{
	margin: 0;
}
.woocommerce div.product div.images .flex-control-thumbs
{
	margin-top: 1em;
}
.woocommerce div.product div.images .flex-control-thumbs li
{
	float: left;
    margin-bottom: 1em;
    margin-right: 3.8%;
    width: 30.75%;
}
.woocommerce div.product div.images .flex-control-thumbs li:nth-child(3n)
{
	margin-right: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li
{
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs:before
{
	border: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:after, 
.woocommerce div.product .woocommerce-tabs ul.tabs li:before
{
	box-shadow: none;
	border: none;
	content: '';
	bottom: 0;
	height: auto;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active
{
	background: transparent;
	z-index: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs
{
	overflow: visible;
}
.woocommerce div.product .woocommerce-tabs
{
	width: 100%;
	padding: 0;
	margin: 0 0 -15px;
	list-style: none;
	background: none;
	border: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs
{
	border-bottom: none;
	margin: 0;
	padding: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li
{
	position: relative;
	float: left;
	padding: 0;
	border: none;
	list-style: none;
	text-align: center;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a
{
	position: relative;
	width: auto;
	display: block;
	text-align: center;
	font-size: 18px;
	color: #25282A;
	padding: 8px 15px 11px;
	border: none;
	background: #F0F0F0;
	font-family: 'Droid Sans';
	line-height: normal;
	outline: none;
	text-decoration: none;
	transition: none;
	line-height: 140%;
	border-right: 1px solid #E0E0E0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active span
{
	display: inline;
	position: relative;
	border-style: solid;
	border-width: 9px 9px 0;
	border-color: #59B42D transparent;
	bottom: -9px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li
{
	margin: 5px 20px -1px 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:last-child
{
	margin-right: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a
{
	padding: 0px 0px 7px 0;
	font-size: 13px;
	font-family: Arial;
	margin-bottom: 1px;
	color: #999;
	background: none;
	border-right: none;
	font-weight: 400;
	line-height: 1;
	border-bottom: 1px solid #515151;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover
{
	color: #FFF;
	border-color: #409915;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a.selected,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a
{
	border-bottom: 2px solid #409915;
	padding-bottom: 6px;
	margin-bottom: 0;
	background: none;
	color: #FFF;
}
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button,
.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.altm,
.woocommerce .widget_product_search form input[type='submit'],
.woocommerce .cart .coupon input.button,
.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit[disabled]:disabled, .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button[disabled]:disabled, .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button[disabled]:disabled, .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button[disabled]:disabled
{	
	display: block;	
	color: #fff; 
	font-family: 'Arial';
	font-size: 13px;
	float: right;
	padding: 9px;
	text-align: center;
	cursor: pointer;
	background: transparent;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	font-weight: normal;
	border: 1px solid #515151;
	height: 36px;
	line-height: normal;
}
.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit[disabled]:disabled, .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button[disabled]:disabled, .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button[disabled]:disabled, .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button[disabled]:disabled,
.woocommerce #respond input#submit.disabled:hover, .woocommerce #respond input#submit:disabled:hover, .woocommerce #respond input#submit[disabled]:disabled:hover, .woocommerce a.button.disabled:hover, .woocommerce a.button:disabled:hover, .woocommerce a.button[disabled]:disabled:hover, .woocommerce button.button.disabled:hover, .woocommerce button.button:disabled:hover, .woocommerce button.button[disabled]:disabled:hover, .woocommerce input.button.disabled:hover, .woocommerce input.button:disabled:hover, .woocommerce input.button[disabled]:disabled:hover
{
	background: transparent;
	border-color: #515151;
	color: #444;
	line-height: 1;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce .widget_price_filter .price_slider_amount .button,
.woocommerce .widget_product_search form input[type='submit'],
.woocommerce div.product form.cart .button.single_add_to_cart_button,
.woocommerce #review_form #respond .form-submit input,
.woocommerce #payment #place_order,
.woocommerce .cart input.button,
.woocommerce .button.wc-forward
{
	background: transparent;
	border: 1px solid #515151;
}
.woocommerce-cart .woocommerce .wc-proceed-to-checkout a.checkout-button:hover,
.woocommerce .widget_price_filter .price_slider_amount .button:hover,
.woocommerce .widget_product_search form input[type='submit']:hover,
.woocommerce div.product form.cart .button.single_add_to_cart_button:hover,
.woocommerce #review_form #respond .form-submit input:hover,
.woocommerce #payment #place_order:hover,
.woocommerce .cart input.button:hover,
.woocommerce .button.wc-forward:hover,
.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover,
.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover,
.woocommerce .cart .coupon input.button:hover
{
	color: #FFF;
	border: 1px solid #59B42D;
	background-color: transparent;
}
.woocommerce .star-rating:before
{
	color: #303030;
	content: "SSSSS";
}
body.woocommerce-page .star-rating, .woocommerce .star-rating
{
	color: #FFA838;
}
.woocommerce .woocommerce-product-rating .star-rating
{
	margin: 0 30px 0 0;
}
.woocommerce .woocommerce-product-rating
{
	line-height: 1;
}
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price, 
.woocommerce div.product span.price,
.woocommerce .widget_top_rated_products .amount
{
	color: #999;
	font-family: 'Droid Sans';
	font-size: 18px;
	font-weight: 300;
	text-decoration: none;
}
.woocommerce div.product p.price, 
.woocommerce div.product span.price
{
	font-size: 24px;
}
.woocommerce div.product p.price ins, 
.woocommerce div.product span.price ins
{
	font-weight: 300;
	text-decoration: none;
}
.woocommerce ul.products li.product .price del,
.woocommerce .widget_top_rated_products del
{
	float: left;
	opacity: 0.5;
	color: #999;
}
.woocommerce ul.products li.product .price ins,
.woocommerce .widget_top_rated_products ins
{
	margin-left: 5px;
	font-weight: 300;
	text-decoration: none;
	color: #999;
}
.woocommerce ul.products li.product .price ins:before,
.woocommerce .widget_top_rated_products ins:before
{
	content: "/";
	margin-right: 5px;
}
.woocommerce span.onsale
{
	background-color: #409915;
	z-index: 1;
	padding: 0;
}
.woocommerce ul.products li.product .button
{
	margin-top: 30px;
	width: 100%;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product
{
	width: 30.05%;
}
.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering
{
	float: none;
}
.woocommerce .products ul, .woocommerce ul.products
{
	margin: 0;
}
.woocommerce .woocommerce-ordering, .woocommerce .woocommerce-result-count
{
	margin: 0;
}
.woocommerce .woocommerce-ordering select
{
	color: #3E3E3E;
	border: 1px solid #F0F0F0;
	padding: 12px 5px;
	font-size: 13px;
}
.woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count
{
	float: right;
	color: #999;
	font-size: 13px;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product
{
	width: 183px;
	margin: 30px 30px 0 0;
}
.woocommerce .related ul li.product, .woocommerce .related ul.products li.product, .woocommerce .upsells.products ul li.product, .woocommerce .upsells.products ul.products li.product, .woocommerce-page .related ul li.product, .woocommerce-page .related ul.products li.product, .woocommerce-page .upsells.products ul li.product, .woocommerce-page .upsells.products ul.products li.product
{
	width: 290px;
	margin: 30px 30px 0 0;
}
.woocommerce .related ul li.product, .woocommerce .related ul.products li.product:nth-child(even),
.woocommerce .upsells.products ul li.product:nth-child(even)
{
	margin-right: 0;
}
.woocommerce .cart-collaterals .cross-sells ul.products li, .woocommerce-page .cart-collaterals .cross-sells ul.products li,
.woocommerce-cart .cart-collaterals .cross-sells ul.products li.product
{
	width: 225px;
	margin: 30px 30px 0 0;
}
.woocommerce ul.products li.last, .woocommerce-page ul.products li.last, .woocommerce .related ul li.product.last,
.woocommerce .cart-collaterals .cross-sells ul.products li.last, .woocommerce-page .cart-collaterals .cross-sells ul.products li.last
{
	margin-right: 0;
}
.woocommerce div.product div.summary
{
	margin-bottom: 50px;
}
.woocommerce nav.woocommerce-pagination
{
	float: right;
	margin-top: 30px;
}
.woocommerce div.product .product_title
{
	margin: 0 0 5px 0;
	font-size: 30px;
}
.woocommerce div.product .woocommerce-product-rating
{
	margin: 0 0 20px 0;
}
.woocommerce div.product p.price, .woocommerce div.product span.price
{
	padding: 0;
	margin-bottom: 20px;
}
.woocommerce div.product .description
{
	border-top: 1px solid #515151;
	border-bottom: 1px solid #515151;
}
.woocommerce div.product .comment-text .description
{
	border-bottom: none;
	padding: 20px 0 0;
	color: #C5C5C5;
	line-height: 150%;
}
.woocommerce div.product .comment-text .description p
{
	padding: 0;
}
.woocommerce div.product .description p
{
	padding: 20px 0;
}
.woocommerce div.product form.cart
{
	margin: 30px 0px 30px 0;
}
.woocommerce div.product form.cart div.quantity
{
	margin: 0 10px 0 0;
}
.woocommerce #content div.product div.thumbnails a,
.woocommerce div.product div.thumbnails a,
.woocommerce-page #content div.product div.thumbnails a,
.woocommerce-page div.product div.thumbnails a
{
	border: none;
}
.woocommerce .posted_in
{
	color: #999;
}
.woocommerce .posted_in a
{
	color: #999;
	font-size: 11px;
	border: 1px solid #515151;
	padding: 8px 9px;
	margin-right: 2px;
	margin-bottom: 2px;
}
.woocommerce .posted_in a:hover
{
	border-color: #409915;
	color: #fff;
	text-decoration: none;
}
.woocommerce #respond input#submit.loading:after, .woocommerce a.button.loading:after, .woocommerce button.button.loading:after, .woocommerce input.button.loading:after
{
	content: "";
}
.woocommerce #respond input#submit.loading,
.woocommerce a.button.loading,
.woocommerce button.button.loading,
.woocommerce input.button.loading
{
	padding: 9px;
}
.woocommerce a.added_to_cart
{
	display: none;
}
.woocommerce .quantity .qty,
.woocommerce-cart table.cart td.actions .coupon .input-text
{
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	border: none;
	padding: 9px;
	line-height: normal;
}
.woocommerce-cart table.cart td.actions .coupon .input-text#coupon_code
{
	padding: 9px;
	background-color: transparent;
	color: #fff;
	border: 1px solid #515151;
	height: 16px;
}
/*.woocommerce-cart table.cart td.actions .coupon .input-text#coupon_code:hover
{
	border-color: #59B42D;
}*/
.woocommerce #reviews #comments
{
	margin-top: 30px;
}
.woocommerce #reviews #comments ol.commentlist li
{
	margin: 0 0 30px;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar
{
	position: static;
	width: 100px;
	border: none;
	padding: 0;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta
{
	padding-top: 0;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p
{
	margin: 0;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text
{
	margin-left: 130px;
	border: none;
	padding: 0;
}
.woocommerce #reviews #comments ol.commentlist li .meta
{
	color: #999;
}
.woocommerce #review_form_wrapper
{
	margin-top: 20px;
}
#review_form textarea:focus
{
	background: transparent;
	padding: 14px 19px;
	border: 1px solid #515151;
}
#review_form .hint
{
	color: #C5C5C5;
}
.woocommerce #review_form_wrapper #review_form p.form-submit
{
	margin-top: 10px;
	padding: 0;
}
.woocommerce  #review_form_wrapper .comment-form-rating label
{
	float: left;
	margin: 11px 30px 0 0;
	color: #999;
}
.woocommerce  #review_form_wrapper .comment-form-rating .stars
{
	float: left;
}
.woocommerce  #review_form_wrapper form input
{
	width: 100%;
	margin-top: 20px;
}
.woocommerce  #review_form_wrapper form input[type='submit']
{
	width: auto;
}
.woocommerce  #review_form_wrapper .comment-form-comment
{
	padding: 0;
}
.woocommerce  #review_form_wrapper .comment-form-comment label
{
	display: none;
}
.woocommerce  #review_form_wrapper .comment-form-comment #comment
{
	height: 105px;
	margin-bottom: 0;
}
.woocommerce .comment-reply-title:after
{
	content: "";
	display: block;
	bottom: 0;
	width: 50px;
	height: 2px;
	background: #59B42D;
	margin-top: 10px;
}
.woocommerce h2.box_header,
.woocommerce h3.box_header,
.woocommerce h4.box_header,
.woocommerce .comment-reply-title,
.woocommerce .related.products h2,
.woocommerce-account .woocommerce h2,
.woocommerce-checkout .woocommerce h2,
.upsells.products h2,
.woocommerce-account .title h3,
.woocommerce-checkout .title h3
{
	font-size: 18px;	
}
.woocommerce #review_form #respond p
{
	margin: 0;
}
.woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message
{
	border-top: none;
	border-left: 3px solid #59B42D;
	background-color: #303030;
	padding: 34px 25px 25px 70px !important;
	line-height: 150%;
	min-height: 90px;
	color: #C5C5C5;
}
.woocommerce .woocommerce-error:before, .woocommerce .woocommerce-info:before, .woocommerce .woocommerce-message:before
{
	top: 35px;
	font-size: 22px;
}
.woocommerce .woocommerce-error .button, .woocommerce .woocommerce-info .button, .woocommerce .woocommerce-message .button
{
	margin-top: -12px;
}
.woocommerce mark
{
	background: #59B42D;
}
.woocommerce #review_form #respond .form-submit input
{
	float: right;
}
.woocommerce div.product .woocommerce-tabs,
.woocommerce div.product .woocommerce-tabs .panel
{
	margin: 0;
}
.woocommerce .cart .button, .woocommerce .cart input.button
{
	float: right;
}
.woocommerce-cart table.cart td.actions .coupon .input-text
{
	width: 90px;
}
.woocommerce table.shop_table,
.woocommerce-cart .cart-collaterals .cart_totals table
{
	border-collapse: collapse;
	color: #c5c5c5;
	border: 1px solid #515151;
}
.woocommerce table.shop_table th,
.woocommerce-cart .cart-collaterals .cart_totals table th
{
	font-family: 'Droid Sans';
	font-size: 16px;
	font-weight: normal;
}
.woocommerce table.shop_table th
{
	color: #FFF;
	background-color: #303030;
}
.woocommerce table.shop_table th,
.woocommerce table.shop_table td
{
	padding: 12px;
	border: 1px solid #515151;
}
.woocommerce table.cart_totals_table td:nth-child(even),
.woocommerce table.shop_table.cart tr:last-child
{
	background-color: transparent;
}
.woocommerce table.shop_table tr:last-child td
{
	padding: 12px;
}
.woocommerce-cart table.cart td.actions .coupon .input-text
{
	margin-right: 10px;
}
.woocommerce-cart table.cart img
{
	width: 100px;
}
.woocommerce-cart .cart-collaterals .cart_totals table th,
.woocommerce-cart .cart-collaterals .cart_totals table td
{
	padding: 12px;
	vertical-align: middle;
}
.woocommerce .quantity input
{
	line-height: 1;
	vertical-align: middle;
}
.woocommerce .quantity .qty
{
	width: 30px;
	height: 16px;
	color: #fff;
	appearance: textfield;
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	background: transparent;
	border-top: 1px solid #515151;
	border-bottom: 1px solid #515151;
}
.woocommerce .quantity .plus,
.woocommerce .quantity .minus
{
	width: 40px;
	height: 36px;
	color: #fff;
	border: 1px solid #515151;
	background: transparent;
	cursor: pointer;
	padding: 9px;
}
.woocommerce .quantity .plus:hover,
.woocommerce .quantity .minus:hover
{
	color: #FFF;
	border-color: #59B42D;
}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals,
.woocommerce .cart-collaterals .cross-sells, .woocommerce-page .cart-collaterals .cross-sells
{
	width: 100%;
}
.woocommerce-checkout #payment div.payment_box p
{
	color: #c5c5c5;
}
.woocommerce-message a,
.woocommerce-info a,
.woocommerce-error a,
.woocommerce-review-link,
.woocommerce-checkout #payment .payment_method_paypal .about_paypal
{
	color: #59B42D;
}
.woocommerce a.remove
{
	color: #59B42D !important;
	font-weight: 400;
}
.woocommerce a.remove:hover
{
	background: #59B42D;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button
{
	float: right;
	margin: 0;
}
.woocommerce-cart .wc-proceed-to-checkout
{
	padding: 0;
}
.woocommerce .widget_price_filter form,
.woocommerce .widget_product_search form
{
	margin-top: 30px;
}
.woocommerce .widget_price_filter .price_slider_amount .price_label
{
	float: left;
	color: #999;
	font-size: 13px;
}
.woocommerce .widget_price_filter .price_slider_amount .button
{
	float: right;
	margin-top: 10px;
	font-size: 13px;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content
{
	background: #303030;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range
{
	background: #409915;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle
{
	background: #FFF;
	border: 2px solid #409915;
}
.woocommerce .widget_product_search form .screen-reader-text
{
	display: none;
}
.woocommerce .widget_product_search form .search-field
{	
	width: 100%;
	font-family: arial;
	background: transparent;
	border: 1px solid #515151;
	font-size: 13px;
	padding: 9px;
	height: 36px;
	color: #fff;
}
.woocommerce .widget_product_search form .search-field:focus
{
	border-color: #409915;
}
.woocommerce .widget_product_search form .search-field.hint
{
	color: #c5c5c5;
}
.woocommerce .widget_product_search form input[type='submit']
{
	float: right;
	cursor: pointer;
	margin-top: 10px;
}
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img
{
	float: left;
	width: 100px;
	margin-left: 0;
	margin-right: 20px;
}
.woocommerce ul.cart_list li, .woocommerce ul.product_list_widget li
{
	padding: 0;
	margin-top: 30px;
}
.woocommerce ul.cart_list li a, .woocommerce ul.product_list_widget li a
{
	font-size: 16px;
	font-family: 'Droid Sans';
	font-weight: 400;
	line-height: 140%;
	color: #fff;
	margin-bottom: 10px;
	border: none;
}
.woocommerce ul.cart_list li a:hover, .woocommerce ul.product_list_widget li a:hover
{
	text-decoration: underline;
}
.woocommerce .widget_top_rated_products .star-rating
{
	margin-bottom: 15px;
}
.woocommerce .widget_top_rated_products .amount
{
	font-size: 16px;
}
.woocommerce .button.wc-backward
{
	float: left;
}
.woocommerce #review_form p.stars a
{
	color: #FFA838;
	border-right-color: #515151;
}
.woocommerce p.stars a.star-1:after, .woocommerce p.stars a.star-2:after, .woocommerce p.stars a.star-3:after, .woocommerce p.stars a.star-4:after, .woocommerce p.stars a.star-5:after
{
	font-family: 'star';
	font-weight: 400;
	color: #F0F0F0;
}
.woocommerce p.stars a.star-1:after
{
	content: "S";
}
.woocommerce p.stars a.star-1.active:after, .woocommerce p.stars a.star-1:hover:after
{
	content: "S";
	color: #FFA838;
}
.woocommerce p.stars a.star-2:after
{
	content: "SS";
}
.woocommerce p.stars a.star-2.active:after, .woocommerce p.stars a.star-2:hover:after
{
	content: "SS";
	color: #FFA838;
}
.woocommerce p.stars a.star-3:after
{
	content: "SSS";
}
.woocommerce p.stars a.star-3.active:after, .woocommerce p.stars a.star-3:hover:after
{
	content: "SSS";
	color: #FFA838;
}
.woocommerce p.stars a.star-4:after
{
	content: "SSSS";
}
.woocommerce p.stars a.star-4.active:after, .woocommerce p.stars a.star-4:hover:after
{
	content: "SSSS";
	color: #FFA838;
}
.woocommerce p.stars a.star-5:after
{
	content: "SSSSS";
}
.woocommerce p.stars a.star-5.active:after, .woocommerce p.stars a.star-5:hover:after
{
	content: "SSSSS";
	color: #FFA838;
}
.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit[disabled]:disabled, .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button[disabled]:disabled, .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button[disabled]:disabled, .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button[disabled]:disabled
{
	cursor: pointer;
	opacity: 1;
}
.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register,
.select2-container .select2-selection
{
	border-color: #515151;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
.select2-container .select2-selection
{
	border: none;
	height: auto;
	background: #303030;
	padding: 8px 20px;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	color: #fff;
}
.select2-container .select2-selection .select2-selection__rendered
{
	padding-left: 0;
	color: #FFF;
}
.select2-dropdown-open.select2-drop-above .select2-selection, .select2-dropdown-open.select2-drop-above .select2-choices
{
	border: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
.select2-dropdown-open .select2-selection
{
	box-shadow: none;
}
.select2-container--default .select2-selection--single .select2-selection__arrow
{
	height: 100%
}
.select2-results,
.select2-search
{
	background: #303030;
	color: #c5c5c5;
}
.select2-search input
{
	background: url(../images/select2.png) 100% -22px no-repeat #303030;
	border-color: #303030;
	color: #fff;
}	
.select2-drop
{
	border-color: #515151;
}
.woocommerce-checkout #payment
{
	background: transparent;
	border: 1px solid #515151;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
.woocommerce #customer_details .box_header,
.woocommerce-account .woocommerce h2,
.woocommerce-checkout .woocommerce h2
{
	margin-bottom: 25px;
}
.woocommerce-account .woocommerce h2,
.woocommerce-checkout .woocommerce h2
{
	margin-top: 20px;
}
.woocommerce-checkout .woocommerce h2
{
	padding-bottom: 10px;
	border-bottom: 1px solid #409915;
	float: left;
}
.woocommerce-checkout .woocommerce h2+h3
{
	clear: both;
}
.woocommerce-checkout #payment ul.payment_methods
{
	border-color: #515151;
}
.woocommerce .order_details,
.woocommerce table.shop_table.order_details,
.woocommerce table.shop_table.customer_details,
.woocommerce .shop_table.my_account_orders
{
	margin: 10px 0 20px;
	padding: 0;
}
.woocommerce .woocommerce-checkout-review-order,
.woocommerce table.shop_table.order_details,
.woocommerce table.shop_table.customer_details
{
	margin-top: 30px;
}
.woocommerce table.shop_table.my_account_orders
{
	margin-top: 0;
}
.woocommerce table.my_account_orders .button
{
	float: none;
}
.woocommerce-account address,
.woocommerce-checkout address,
.woocommerce-order-received address
{
	margin-top: 30px;
	line-height: 150%;
	font-style: normal;
}
.woocommerce-account .title h3
{
	float: none;
	margin-top: 20px;
}
.woocommerce-MyAccount-content p:first-child
{
	padding-top: 0;
}
.woocommerce form.edit_address .box_header
{
	margin-bottom: 30px;
}
.woocommerce .product-categories li a:hover
{
	text-decoration: none;
}
.widget.mc_cart_icon_widget
{
	overflow: visible;
}
.cart_icon
{
	position: relative;
	display: block;
	float: right;
	width: 30px;
	height: 30px;
	border: none;
	cursor: pointer;
	background-image: url("../images/icon_cart.png");
	background-repeat: no-repeat;
}
.cart_icon:hover
{
	background-position: 0 -30px;
	border: none;
	text-decoration: none;
}
.cart_icon.header-shop
{
	margin: 16px 0 0 15px;
}
.cart_items_number
{
	position: absolute;
	display: block;
	top: -4px;
	right: -2px;
	width: 12px;
	height: 12px;
	background: #59B42D;
	padding: 2px;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	line-height: 1;
	color: #FFF;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.colors.cart_icon .cart_items_number
{
	top: -2px;
	right: -4px;
}
.woocommerce .woocommerce-info::before,
.woocommerce .woocommerce-message::before
{
	color: #59B42D;
}
.woocommerce form .form-row
{
	padding: 0;
}
.woocommerce form .form-row label
{
	color: #999;
}
.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea,
.woocommerce .comment-form input,
.woocommerce #review_form_wrapper .comment-form-comment #comment
{	
	background: transparent;
	padding: 9px;
	border: 1px solid #515151;
	color: #fff;
	line-height: normal;
}
.woocommerce form .form-row input.input-text:active,
.woocommerce .comment-form input:active,
.woocommerce form .form-row textarea:active,
.woocommerce form .form-row input.input-text:focus,
.woocommerce .comment-form input:focus,
.woocommerce form .form-row textarea:focus,
.woocommerce #review_form_wrapper .comment-form-comment #comment:focus,
.woocommerce-cart table.cart td.actions .coupon .input-text#coupon_code:active,
.woocommerce-cart table.cart td.actions .coupon .input-text#coupon_code:focus
{
	border-color: #59B42D;
}
::-webkit-input-placeholder
{
	color: #c5c5c5;
}
:-moz-placeholder
{
	color: #c5c5c5;
	opacity: 1;
}
::-moz-placeholder
{
	color: #c5c5c5;
	opacity: 1;
}
:-ms-input-placeholder
{
	color: #c5c5c5;
}