.clearfix:after
{
    font-size: 0px;
    content: ".";
    display: block;
    height: 0px;
    visibility: hidden;
    clear: both;
}
.vc_license-activation-notice,
.vc_license.activation.notice
{
	display: none;
}
/* --- Theme options --- */
.theme_options
{
	width: 960px;
	margin-top: 20px;
}
.theme_options a
{
	outline: none;
}
.theme_options .header
{
	clear: both;
}
.theme_options .header_left,
.theme_options .header_right
{
	float: left;
}
.theme_options .header_left
{
	width: 210px;
	background-color: #353535;
	padding: 0 20px;
}
.theme_options .header_right
{
	width: 670px;
	background-color: #F0F0F0;
	padding: 0 0 0 40px;
}
.theme_options .header_right .description
{
	float: left;
}
.theme_options .header_right .logo
{
	float: right;
	width: 92px;
	height: 89px;
	background: url("../images/wp_admin_map.png") 0 -260px;
	text-decoration: none;
	margin: 20px 20px 20px 0;
}
.theme_options h3, .theme_options h5
{
	font-family: 'Open Sans', arial;
	font-weight: normal;
}
.theme_options h3
{
	font-size: 24px;
}
.theme_options h5
{
	font-size: 13px;
}
.theme_options .header_left h3
{	
	margin-top: 35px;
	margin-bottom: 0;
}
.theme_options .header_left h3 a
{
	color: #FFF;
	text-decoration: none;
}
.theme_options .header_left h5
{	
	color: #A5A5A5;
	margin-top: 15px;
	margin-bottom: 45px;
}
.theme_options .header_right h3
{	
	margin-top: 35px;
	margin-bottom: 0;
}
.theme_options .header_right h5
{	
	color: #555;
	margin-top: 15px;
}
.theme_options .header_right h3 a
{
	color: #000;
	text-decoration: none;
}
.theme_options .header_left h3 a:hover,
.theme_options .header_right h3 a:hover
{	
	text-decoration: underline;
}
.theme_options .content
{
	clear: both;
	background-color: #282828;
}
.theme_options .settings
{
	float: right;
	display: none;
	width: 650px;
	min-height: 560px;
	border-top: 1px solid #E0E0E0;
	padding: 20px 20px 20px 40px;
	background-color: #FFF;
}
.theme_options .subsettings
{
	display: none;
}
.theme_options .form_field_list
{
	margin: 20px 0;
}
.theme_options .form_field_list li
{
	margin-bottom: 15px;
}
.theme_options .form_field_list label
{
	display: block;
	font-family: 'Open Sans', arial;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.theme_options .form_field_list li span.description
{
	display: block;
	margin-top: 10px;
}
.theme_options .form_field_list .font_subset
{
	display: none;
	margin-top: 10px;
}
.theme_options .settings h3
{
	margin-top: 0;
	margin-bottom: 20px;
}
.theme_options .settings h4
{
	font-size: 18px;
	font-weight: normal;
	margin: 50px 0 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #E0E0E0;
}
.theme_options .settings .submit_line
{
	clear:both;
}
.theme_options .settings .submit_line input[type='submit']
{
	float: none;
	margin: 0;
}
.theme_options .settings .color_preview
{
	display: block;
	float: left;
	width: 21px;
	height: 21px;
	margin: 1px 5px 1px 1px;
	background: transparent;
	border: 1px solid #E0E0E0;
}
.theme_options .menu
{
	float: left;
	width: 250px;
	background-color: #282828;
	padding: 0;
	margin: 0;
}
.theme_options .menu a
{
	display: block;
	background: url("../images/wp_admin_map.png");
	height: 16px;
	font-size: 13px;
	font-family: arial;
	color: #D5D5D5;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
	padding: 22px 20px;
	text-decoration: none;
}
.theme_options .menu a:hover,
.theme_options .menu a.selected
{
	background-position: 0 -60px;
	color: #FFF;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
}
.theme_options .menu a span
{
	float: right;
	width: 16px;
	height: 16px;
	background: url("../images/wp_admin_icon_map.png");
}
.theme_options .menu a:hover .general,
.theme_options .menu a.selected .general
{
	background-position: 0 -16px;
}
.theme_options .menu a .social
{
	background-position: -16px 0;
}
.theme_options .menu a:hover .social,
.theme_options .menu a.selected .social
{
	background-position: -16px -16px;
}
.theme_options .menu a .font
{
	background-position: -32px 0;
}
.theme_options .menu a:hover .font,
.theme_options .menu a.selected .font
{
	background-position: -32px -16px;
}
.theme_options .menu a .plugin
{
	background-position: -48px 0;
}
.theme_options .menu a:hover .plugin,
.theme_options .menu a.selected .plugin
{
	background-position: -48px -16px;
}
.theme_options .menu a .post
{
	background-position: -64px 0;
}
.theme_options .menu a:hover .post,
.theme_options .menu a.selected .post
{
	background-position: -64px -16px;
}
.theme_options .submenu
{
	display: none;
	padding: 0;
	margin: 0;
}
.theme_options .submenu a
{
	display: block;
	background: url("../images/wp_admin_map.png") 0 -120px;
	height: 16px;
	font-size: 13px;
	font-family: arial;
	color: #D5D5D5;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
	padding: 12px 10px 12px 37px;
	text-decoration: none;
}
.theme_options .submenu a:hover,
.theme_options .submenu a.selected
{
	background-position: 0 -160px;
}
.theme_options .footer
{
	clear: both;
	height: 86px;
}
.theme_options #theme_options_preloader,
.theme_options #theme_options_tick
{
	display: none;
	float: right;
	margin-top: 37px;
}
.theme_options #dummy_content_preloader,
.theme_options #dummy_content_tick,
.theme_options #dummy_shop_content_preloader,
.theme_options #dummy_shop_content_tick
{
	display: none;
	margin-top: 6px;
}
.theme_options .theme_font_subset_preloader
{
	display: none;
}
.theme_options #dummy_content_info,
.theme_options #dummy_shop_content_info
{
	clear: both;
	margin-top: 10px;
}
.theme_options .footer_left
{
	float: left;
	width: 250px;
	background-color: #282828;
	border-top: 1px solid #282828;
}
.theme_options .footer_right
{
	float: right;
	width: 710px;
	background-color: #F0F0F0;
	border-top: 1px solid #E0E0E0;
}
.theme_options textarea
{
	height: 200px;
	resize: vertical;
	width: 500px;
	max-height: 400px;
	min-height: 200px;
}
.theme_options input[type='submit']
{
	border: none;
    float: right;
	font-family: arial;
	font-size: 13px;
	color: #D5D5D5;
    margin: 24px 20px;
    padding: 10px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	cursor: pointer;
	background-color: #444444;
}
.theme_options input[type='submit']:hover
{
	color: #FFF;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
	background-color: #1378BF;
}
.theme_options ul.social-list
{
margin:0px;
padding:0px;
margin-top:50px;
margin-left:20px;
list-style-type:none;
}
.theme_options ul.social-list li
{
	float:left;
}
.theme_options ul.social-list li a
{
	width:30px;
	height:30px;
	display:block;
	background-image:url('../images/wp_admin_map.png');
}
.theme_options ul.social-list li a.social-list-tumblr			{ background-position:-150px -200px;	}
.theme_options ul.social-list li a.social-list-flickr			{ background-position:-60px -200px;		}
.theme_options ul.social-list li a.social-list-envato			{ background-position:-90px -200px;		}
.theme_options ul.social-list li a.social-list-twitter			{ background-position:-30px -200px;		}
.theme_options ul.social-list li a.social-list-facebook			{ background-position:-0px -200px;		}
.theme_options ul.social-list li a.social-list-deviantart		{ background-position:-180px -200px;	}
.theme_options ul.social-list li a.social-list-tumblr:hover		{ background-position:-150px -230px;	}
.theme_options ul.social-list li a.social-list-flickr:hover		{ background-position:-60px -230px;		}
.theme_options ul.social-list li a.social-list-envato:hover		{ background-position:-90px -230px;		}
.theme_options ul.social-list li a.social-list-twitter:hover	{ background-position:-30px -230px;		}
.theme_options ul.social-list li a.social-list-facebook:hover	{ background-position:-0px -230px;		}
.theme_options ul.social-list li a.social-list-deviantart:hover	{ background-position:-180px -230px;	}

.gymbase_hidden
{
	display: none;
}
/* --- Menu icons --- */
#adminmenu #menu-posts-gymbase_weekdays .menu-icon-gymbase_weekdays div.wp-menu-image:before
{
	content: "\f145";
}
#adminmenu #menu-posts-trainers .menu-icon-trainers div.wp-menu-image:before
{
	content: "\f338";
}
#adminmenu #menu-posts-gymbase_gallery .menu-icon-gymbase_gallery div.wp-menu-image:before
{
	content: "\f161";
}
#adminmenu #menu-posts-classes .menu-icon-classes div.wp-menu-image:before
{
	content: "\f163";
}
/* --- Tabs --- */
#gymbase-options-tabs
{
	margin-top: 25px;
}
#gymbase-options-tabs .ui-tabs-nav
{
	margin: 0px;
}
#gymbase-options-tabs .ui-tabs-nav .nav-tab
{
	margin-bottom: 0px;
	padding: 0px;
	
}
#gymbase-options-tabs .ui-tabs-nav .nav-tab a
{
	display: block;
	text-decoration: none;
	padding: 4px 14px 6px;
}
#gymbase-options-tabs .ui-tabs-panel
{
	width: 750px;
	padding: 5px;
	border: 1px solid #CCCCCC;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
#gymbase-options-tabs .ui-tabs-panel .form-table
{
	margin-top: 0px;
}
#gymbase-options-tabs .ui-tabs-panel p
{
	margin-left: 5px;
}
#gymbase-options-tabs .ui-tabs-selected
{
	border-color: #CCCCCC;
	font-weight: bold;
}
#gymbase-options-tabs .button
{
	float: right;
	margin-right: 180px;
}
#gymbase-options-tabs #logo_url_upload_button
{
	margin-right: 125px;
}
/* --- classes hours list --- */
#class_hours_list
{
	background-color: #FFFFFF;
    border: 1px solid #DFDFDF;
	padding: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#class_hours_list li
{
	margin: 0 15px;
    padding-bottom: 10px;
    padding-top: 10px;
	border-bottom: 1px solid #DFDFDF;
}
#class_hours_list li:first-child
{
	margin-top: 0;
}
#class_hours_list .operation_button
{
	float: right;
	cursor: pointer;
	margin-top: 3px;
	margin-left: 10px;
}
#class_hours_list .edit_hour_class_loader
{
	cursor: default;
	display: none;
	margin-top: 0;
}
#class_hours_table textarea
{
	width: 250px;
}
/* --- widgets --- */
.widget-inside .regular-text.color
{
	width: 60px;
}

#responsive_yes, #responsive_no
{
	cursor: pointer;
}
/* --- visual composer --- */
.wpb_el_type_hidden
{
	display: none;
}
#wpb-js-composer-settings .vc_settings-tab-control:nth-child(5) 
{
    display: none;
}
#toplevel_page_vc-general ul.wp-submenu li:nth-child(6),
#wpb-js-composer-settings .nav-tab-wrapper a:nth-child(5)
{
	display: none;
}
.vc_color-picker .wp-picker-holder 
{
	z-index: 1;
}
.wpb_el_type_colorpicker .color-group
{
	height: 30px;
}
.wpb_mc_carousel .attachment-thumbnails,
.wpb_mc_small_slider .attachment-thumbnails,
.wpb_photostream .attachment-thumbnails,
.wpb_slider .attachment-thumbnails
{
    overflow: hidden;
    height: 20px;
    padding: 0px;
    margin: 0;
}
.wpb_mc_carousel .attachment-thumbnails li,
.wpb_mc_small_slider .attachment-thumbnails li,
.wpb_photostream .attachment-thumbnails li,
.wpb_slider .attachment-thumbnails li 
{
    height: 20px;
    width: 20px;
    overflow: hidden;
    margin-right: 3px;
    text-align: center;
    display: inline-block;
}
.wpb_mc_carousel .attachment-thumbnails img,
.wpb_mc_small_slider .attachment-thumbnails img,
.wpb_photostream .attachment-thumbnails img,
.wpb_slider .attachment-thumbnails img
{
    height: 20px;
    width: auto;
}
.wpb_mc_carousel .column_edit_trigger,
.wpb_mc_small_slider .column_edit_trigger,
.wpb_photostream .column_edit_trigger,
.wpb_slider .column_edit_trigger
{
    display: block;
    float: left;
    font-size: 11px;
    line-height: 12px;
    text-decoration: none;
    border-bottom: 1px dotted;
    margin-top: 2px;
}
.wpb_bootstrap_modals .dropdownmulti
{
	height: 150px;
}
.vc_row-fluid.wpb_el_type_listitemwindow
{
	border: none;
	padding: 0;
	margin: 0;
}
.listitemwindow
{
	padding-bottom: 0;
	left: calc(50% - 350px);
}
.listitemwindow .modal-body.wpb-edit-form
{
	padding: 15px;
	height: calc(100% - 80px);
	overflow: auto;
}
.listitemwindow .vc_panel-heading
{
	cursor: default;
}
.listitemwindow .wp-picker-container .description
{
    position: relative;
    top: -9px;
}
.wpb_bootstrap_modals .iris-border .iris-picker-inner
{
	z-index: 1;
}
.wpb_el_type_attach_images_custom .gallery_widget_add_images
{
	margin-top: 5px;
	display: inline-block;
	height: 80px;
	width: 80px;
	background: #F5F5F5 url("../../wpbakery/js_composer/assets/vc/add.png") no-repeat center center;
	border: 1px solid #DFDFDF;
	font-size: 1px;
	color: #DFDFDF;
}
.wpb_el_type_attach_images_custom .gallery_widget_add_images:hover
{
	color: #C8C8C8;
	border-color: #C8C8C8;
	text-decoration: none;
}
.icon-wpb-layer-items-list,
.icon-wpb-layer-carousel,
.icon-wpb-layer-small-slider,
.icon-wpb-layer-announcement-box,
.icon-wpb-layer-testimonials,
.icon-wpb-layer-box-header,
.icon-wpb-layer-sentence,
.icon-wpb-layer-trainers-list,
.icon-wpb-layer-gallery,
.icon-wpb-layer-features-list,
.icon-wpb-layer-contact-form,
.icon-wpb-layer-blog,
.icon-wpb-layer-post,
.icon-wpb-layer-timetable,
.icon-wpb-layer-photostream,
.icon-wpb-layer-notification-box,
.icon-wpb-layer-dropcap,
.icon-wpb-layer-icon,
.icon-wpb-layer-pricing-table {
	background-image: url("../images/visual_composer/visual_composer.png");
}
.icon-wpb-layer-items-list { background-position: 0 0}
.icon-wpb-layer-carousel { background-position: 0 -32px;}
.icon-wpb-layer-small-slider { background-position: 0 -64px;}
.icon-wpb-layer-announcement-box { background-position: 0 -96px;}
.icon-wpb-layer-testimonials { background-position: 0 -128px;}
.icon-wpb-layer-box-header { background-position: 0 -160px;}
.icon-wpb-layer-sentence { background-position:  0 -192px;}
.icon-wpb-layer-trainers-list { background-position:  0 -224px;}
.icon-wpb-layer-gallery { background-position:  0 -256px;}
.icon-wpb-layer-features-list { background-position: 0 -288px;}
.icon-wpb-layer-contact-form { background-position: 0 -320px;}
.icon-wpb-layer-blog { background-position: 0 -352px;}
.icon-wpb-layer-post { background-position: 0 -384px;}
.icon-wpb-layer-timetable { background-position: 0 -416px;}
.icon-wpb-layer-photostream { background-position: 0 -448px;}
.icon-wpb-layer-notification-box { background-position: 0 -480px;}
.icon-wpb-layer-dropcap { background-position: 0 -512px;}
.icon-wpb-layer-icon { background-position: 0 -544px;}
.icon-wpb-layer-pricing-table { background-position: 0 -576px;}
.vc_color-picker .wp-picker-holder
{
    z-index: 1;
}
#poststuff .wpb_vc_nested_accordion > .vc_controls
{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #e6e6e6;
    border-image: none;
    border-style: dotted;
    border-width: 1px 1px 0;
    height: 23px;
    margin: 18px 0 2px;
    opacity: 1 !important;
    position: relative;
    visibility: visible;
}
#poststuff .wpb_vc_nested_accordion > .wpb_element_wrapper 
{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    height: auto;
    padding: 0;
}
#poststuff .wpb_vc_nested_accordion .ui-icon 
{
    background: rgba(0, 0, 0, 0) url("../images/visual_composer/controls.png") no-repeat scroll -16px -16px;
    display: block;
    height: 16px;
    left: 19px;
    margin-top: 0;
    position: absolute;
    top: 18px;
    width: 16px;
}
#poststuff .wpb_vc_nested_accordion .ui-accordion-header 
{
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    margin-bottom: 3px;
    padding: 16px;
}
#poststuff .wpb_vc_nested_accordion .ui-accordion-header.ui-state-active 
{
    background: #fff none repeat scroll 0 0;
    border: 1px solid transparent;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
}
#poststuff .wpb_vc_nested_accordion .ui-accordion-header.ui-state-active .ui-icon 
{
    background-position: -16px -128px;
}
#poststuff .wpb_vc_nested_accordion .tab-label 
{
    color: #6f777d;
    font-size: 14px;
    margin-left: 23px;
}
#poststuff .wpb_vc_nested_accordion .wpb_vc_nested_accordion_tab.ui-accordion-content 
{
    margin-bottom: 3px;
    overflow: visible;
}
#poststuff .wpb_vc_nested_accordion .tab_controls 
{
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
}
#poststuff .wpb_vc_nested_accordion .tab_controls .add_tab 
{
    color: #b0b4b8;
    cursor: pointer;
    display: block;
    height: 16px;
    opacity: 0.7;
    padding: 16px;
    position: relative;
    width: 100%;
}
#poststuff .wpb_vc_nested_accordion .tab_controls .add_tab .vc_icon 
{
    background-position: -16px -16px;
    left: 19px;
    position: absolute;
    top: 18px;
}
.wpb_content_element .ui-tabs .ui-tabs-panel.wpb_vc_nested_tab > .vc_controls, .wpb_vc_nested_accordion_tab > .vc_controls, .wpb_vc_nested_tabs > .vc_controls
{
    opacity: 1 !important;
    visibility: visible;
}
.wpb_content_element .ui-tabs .ui-tabs-panel.wpb_vc_nested_tab > .bottom-controls, .wpb_vc_nested_accordion_tab > .bottom-controls 
{
    display: none;
    top: auto;
}
.wpb_vc_nested_accordion_tab 
{
    background-color: #fff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 6px 14px 14px;
}
.wpb_vc_nested_accordion_tab > .vc_controls 
{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    height: 35px;
}
.wpb_vc_nested_accordion_tab > .wpb_element_wrapper > .wpb_column_container .wpb_vc_column_inner > .vc_controls, .wpb_vc_nested_accordion_tab > .wpb_element_wrapper > .wpb_column_container .wpb_vc_row_inner > .vc_controls > .column_move 
{
    background-color: #f5f5f5;
}
.wpb_vc_nested_accordion_tab > .wpb_element_wrapper > .wpb_column_container.empty_container 
{
    background-position: center center;
    height: 80px;
}
.wpb_vc_nested_accordion_tab > .wpb_element_wrapper > .wpb_column_container .wpb_vc_column_inner > .wpb_element_wrapper 
{
    background-color: #f5f5f5;
    padding: 14px;
}
.wpb_vc_nested_tabs > .vc_controls 
{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #e6e6e6;
    border-image: none;
    border-style: dotted;
    border-width: 1px 1px 0;
    height: 23px;
    margin: 18px 0 2px;
    position: relative;
}
.wpb_vc_nested_tabs > .wpb_element_wrapper 
{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    height: auto;
    padding: 0;
}
.wpb_vc_nested_tabs > .wpb_element_wrapper .tabs_controls, .wpb_vc_nested_tabs > .wpb_element_wrapper .wpb_nested_tabs_holder 
{
    padding: 0;
}
.wpb_vc_nested_tabs > .wpb_element_wrapper .ui-tabs .ui-tabs-nav 
{
    border-right: 1px dotted #e6e6e6;
    position: relative;
    top: 1px;
    z-index: 2;
}
.wpb_vc_nested_tabs > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li 
{
    background: #e6e6e6 none repeat scroll 0 0;
    border: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-right: 3px;
    padding: 0;
    top: -1px;
}
.wpb_content_element .ui-tabs .ui-tabs-panel.wpb_vc_nested_tab > .bottom-controls, .wpb_vc_accordion_nested_tab > .bottom-controls 
{
    display: none;
    top: auto;
}
.wpb_vc_nested_tabs > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li a 
{
    color: #848c91;
    padding: 10px 16px;
}
.wpb_vc_nested_tabs > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li.add_tab_block 
{
    padding: 11px;
}
.wpb_vc_nested_tabs > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li.add_tab_block a 
{
    background: rgba(0, 0, 0, 0) url("../images/visual_composer/controls.png") no-repeat scroll -16px -16px;
    display: inline-block;
    height: 16px;
    padding: 0;
    width: 16px;
}
.wpb_vc_nested_tabs > .wpb_element_wrapper .ui-tabs .ui-tabs-nav li.ui-tabs-active 
{
    background: #fff none repeat scroll 0 0;
}
.wpb_content_element .ui-tabs .ui-tabs-panel.wpb_vc_nested_tab 
{
    background-color: #fff;
}
.wpb_content_element .ui-tabs .ui-tabs-panel.wpb_vc_nested_tab > .vc_controls 
{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    height: 35px;
    position: relative;
}
.wpb_content_element .ui-tabs .ui-tabs-panel.wpb_vc_nested_tab > .wpb_element_wrapper > .wpb_column_container .wpb_vc_column_inner > .vc_controls, .wpb_content_element .ui-tabs .ui-tabs-panel.wpb_vc_nested_tab > .wpb_element_wrapper > .wpb_column_container .wpb_vc_row_inner > .vc_controls > .column_move 
{
    background-color: #f5f5f5;
}
.wpb_content_element .ui-tabs .ui-tabs-panel.wpb_vc_nested_tab > .wpb_element_wrapper > .wpb_column_container.empty_container 
{
    background-position: center center;
    height: 80px;
}
.wpb_content_element .ui-tabs .ui-tabs-panel.wpb_vc_nested_tab > .wpb_element_wrapper > .wpb_column_container .wpb_vc_column_inner > .wpb_element_wrapper 
{
    background-color: #f5f5f5;
    padding: 14px;
}
.wpb_vc_nested_accordion_tab 
{
    background-color: #fff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 6px 14px 14px;
}
.wpb_vc_nested_accordion_tab > .vc_controls 
{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    height: 35px;
}
.wpb_vc_nested_accordion_tab > .wpb_element_wrapper > .wpb_column_container .wpb_vc_column_inner > .vc_controls, .wpb_vc_nested_accordion_tab > .wpb_element_wrapper > .wpb_column_container .wpb_vc_row_inner > .vc_controls > .column_move 
{
    background-color: #f5f5f5;
}
.wpb_vc_nested_accordion_tab > .wpb_element_wrapper > .wpb_column_container.empty_container 
{
    background-position: center center;
    height: 80px;
}
.wpb_vc_nested_accordion_tab > .wpb_element_wrapper > .wpb_column_container .wpb_vc_column_inner > .wpb_element_wrapper 
{
    background-color: #f5f5f5;
    padding: 14px;
}
.wpb_vc_tabs div[id^="tab-http"] .vc_controls:first-child,
.wpb_vc_nested_tabs div[id^="tab-http"] .vc_controls:first-child
{
	position: relative;
	visibility: visible;
	opacity: 1;
	top: 13px;
}